<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>FEEDBACKER</title>        
    </head>

    <body>    
    <a href="/">Main page</a><br />
    <h1>О Feedbacker</h1>
<p>Feedbacker – это система обратной связи для студентов и преподавателей. Мы все хотим, чтобы страна, в которой мы живем, стала частичкой Европы не только на словах, но и на деле. Для этого мы должны постоянно слушать и слышать друг друга. Мы не можем изменить весь мир, но мы можем попробовать изменить пространство вокруг нас. Для этого мы и создали Feedbacker. </p>
<p>
<h2>Если ты студент:</h2><br/>
<p>С помощью Feedbacker ты сможешь лучше узнать своих преподавателей, понять, как учить их предметы: посещать все лекции или углубиться в учебник. Ты сможешь задавать вопросы к консультациям и скачивать выложенные преподавателем слайды. Ну и самое приятное — здесь именно ты ставишь преподавателю оценки. Возможно, не сегодня, не сейчас, но очень скоро в нашей стране, так же, как и в других развитых странах, одним из важнейших критериев хорошего преподавателя будет считаться умение научить и объяснить понятно сложные вещи. А как понять, насколько хорошо это получается у преподавателя? Дать обратную связь!</p>

<h2>Если вы преподаватель:</h2><br/>
<p>Вы сможете в режиме реального времени получать фидбэк от студентов. Сразу же после лекции вы сможете получить ответ на вопрос «Как прошла моя лекция сегодня?». Вы также сможете сами создавать нужные вам опросы, чтобы узнать мнение студентов по тому или иному вопросу. А еще вы сможете оценить нагрузку студентов и посмотреть, сколько времени у них заняли ваши предыдущие задания. И здесь же вы сможете заранее получить вопросы к консультации и понять, какие темы оказались самыми сложными. Мы, студенты, верим, что вы действительно хотите научить нас, и поэтому вам не все равно, что мы думаем.</p>    
    </body>

</html>