{% extends "app/base.html" %}
{% load staticfiles %}
		{% block title %}About us{% endblock %}
		{% block url %}
		<link rel = "stylesheet" 	href="{% static "app/css/about.css" %}" />
		{% endblock %}
		{% block content %}
			<div id="about_txt">Немного о составе Carrotz</div>
			<div class="card transition">
  				<h2 class="transition">Ana Makarevich</h2>
  				<p>Чиф среди чифоф. Крутой организатор. Человек, повидавший АД. Подняла сервер с бд за неделю, спарсила БД за день</p>
  				<div class="card_circle transition"></div>
			</div>
			<div class="card2 transition">
  				<h2 class="transition">Sophy Vitrishko</h2>
  				<p>Джуниор, который станет одним из лучших сеньоров Украины</p>
  				<div class="card2_circle transition"></div>
			</div>
			<div class="card3 transition">
  				<h2 class="transition">Roman Suvorov</h2>
  				<p>Прекрасный программист, умеющий делать всё качественно, И ТОЖЕ ЖДЕТ 3G В ХАРЬКОВЕ</p>
  				<div class="card3_circle transition"></div>
			</div>
			<div class="card4 transition">
  				<h2 class="transition">Vladislav Dmitriev</h2>
  				<p>ЗАТО ШРИФТ КРАСИВЫЙ! А аватарки я пережал :Р</p>
  				<div class="card4_circle transition"></div>
			</div>
				<button id="but"><a href="/" style="color: #fff">Назад</a></button>
		{% endblock %}

