<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>FEEDBACKER</title>        
    </head>

    <body>
    <a href="/">Main page</a><br />
    <h1>О Carrotz</h1>               
    <p> Тут будет инфа о команде</p>
    <p> А тут немного о каждом</p>

    
    </body>

</html>