<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>{% block title %}{% endblock %}</title>
	{% block url %}{% endblock %}
	<link rel = "stylesheet" href="{% static "app/css/base.css" %}"/>
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/apple_Ipad_portrait.css" %}" 		media='only screen and (min-device-width : 740px) and (max-device-width : 1024px)' />
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/apple_Ipad_landscape.css" %}" 		media='only screen and (min-device-width : 740px) and (max-device-width : 1024px) and (orientation : landscape)' />
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/apple_Ipad_mini_2_portrait.css" %}" media='only screen and (min-device-width : 1500px) and (max-device-width : 1550px)' />		
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/apple_Ipad_mini_2_landscape.css" %}"media='only screen and (min-device-width : 2020px) and (max-device-width : 2100px) and (orientation : landscape)' /> 
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/apple_iphone_5_portrait.css" %}" 	media='only screen and (min-device-width : 320px) and (max-device-width : 568px)' />
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/apple_iphone_5_landscape.css" %}" 	media='only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)' />
	<!-- <link rel = "stylesheet" 	href="{% static "app/css/resolution/1024.css" %}" 						media='all and (min-width: 1000px) and (max-width: 1030px) ' /> !-->
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/1920.css" %}" 						media='all and (min-width: 1850px) and (max-width: 1930px)' />
	<link rel = "stylesheet" 	href="{% static "app/css/resolution/1366.css" %}" 					media='all and (min-width: 1282px) and (max-width: 1400px)' />
	<script src="{% static "app/scripts/jquery.js" %}"></script>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300' 		rel='stylesheet' type='text/css'>		
	<link href='//fonts.googleapis.com/css?family=Poiret+One' 				rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' 	rel='stylesheet' type='text/css'>
</head>
<body link="#FFFFFF" alink="#fefefe" alink="#FFFFFF" vlink="#FFFFFF">
		 <div class="page-wrap">
		 	{% block content %}	{% endblock %}
		</div>
		<footer class="site-footer">
			<div id="rectangle_text" >
				<ul>
					<li>Сеть, созданная энтузиастами</li> <br>
					<li>Сделано Carrotz, 2015.</li> <br><br>							
				</ul>
			</div>
			<div id="rectangle_text_right" >
				<ul>
					<li><a style="text-decoration: none" href="/about_us/">О Carrotz</a></li><br>
					<li><a style="text-decoration: none" href="/about_feedbacker">О Feedbacker</a></li><br>
					{% if user.is_authenticated %}
					<li><a style="text-decoration: none" href="/logout">Выйти</a></li> <br>
					{% endif %}
				</ul>
			</div>
		</footer>
</body>
</html>