{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Блог разработчиков{% endblock %}

{% block scripts %} 
<script>$('#about_us_li').addClass('active');</script> 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel-body">
            {% if user.is_superuser %}
            <div class="btn-group">
                <a href="{% url 'main:blog-new' %}"><button class="btn btn-primary" id="submit" title="Новый пост">Новый пост</button></a>
            </div>
            {% endif %}
            <div class="blog">
                {% for post in object_list %}
                <div class="blog-post">
                    <div class="blog-post-header">
                        <div class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                        <div class="blog-post-author">{{ post.author }}</div>
                        <div class="blog-post-date">{{ post.timestamp.date }}</div>
                        {% if user == post.author %}
                        <a href="{% url 'main:blogpost-edit' pk=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'main:blogpost-delete' pk=post.id %}"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></a>
                        {% endif %}
                    </div>
                    {% autoescape off %}
                    <div class="blog-post-body shrinked" id="blog-post-body_{{ forloop.counter }}">{{ post.body }}</div>
                    <script>
                        blog_post_body_current = document.getElementById("blog-post-body_{{ forloop.counter }}");
                        bpost_max_length = 500;
                        new_read_full_button = document.createElement("div");

                        new_read_full_button.className = "blog-post-show-full";
                        new_read_full_button.innerHTML = "<a href='{{ post.get_absolute_url }}'><button class='btn btn-default' title='Перейти к просмотру полной версии поста'>Читать дальше →</button></a>"; 
                        if (blog_post_body_current.innerHTML.length > bpost_max_length)
                        {
                            blog_post_body_current.innerHTML = blog_post_body_current.innerHTML.substr(0, bpost_max_length - 4) + " …";
                            blog_post_body_current.parentNode.insertBefore(new_read_full_button, blog_post_body_current.nextSibling);
                        }
                        blog_post_body_current.classList.add("ready");
                    </script>
                    {% endautoescape %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="text-center">
        <ul class="pagination">
            {% if object_list.has_previous %}
            <li><a href="?page=1" title="Самое новое"><span>&lt&lt</span></a></li>
            <li><a href="?page={{ object_list.previous_page_number }}" title="Новее">&lt</a></li>
            {% endif %}

            {% for page_num in object_list.paginator.page_range %}
            {% if object_list.number == page_num %}
            <li class="active"><a href="?page={{ page_num }}" onclick="return false;">{{ page_num }}</a></li>
            {% else %}
                {% if page_num < 10 or page_num == object_list.paginator.num_pages %}
                <li><a href="?page={{ page_num }}"> {{ page_num }}</a></li>
                {% else %}
                {% if page_num == 11 %}
                <li><a href="?page={{ page_num }}">...</a></li>
                {% endif %}
                {% endif %}
            {% endif %}
            {% endfor %}
            
            {% if object_list.has_next %}
            <li><a href="?page={{ object_list.next_page_number }}" title="Старее">&gt</a></li>
            <li><a href="?page={{ object_list.paginator.num_pages }}" title="Самое старое"><span>&gt&gt</span></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}