<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>FEEDBACKER</title>        
    </head>

    <body>    
    <a href="/">Main page</a><br />
    <h1>Сорян, но срок действия ссылки активации истек</h1>
    </body>

</html>