<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>FEEDBACKER</title>        
    </head>

    <body>    
    <a href="/">Main page</a><br />
    <h1>Все в порядке, ваш аккаунт активирован, можете уже, наконец, войти. </h1>
    </body>

</html>