<!DOCTYPE html>
{% load staticfiles %}
    <head>
        <title>FEEDBACKER</title>
        <link rel = "stylesheet" href="{% static "app/css/base.css" %}" />
        <script src="{% static "app/scripts/jquery.js" %}"></script>
    </head>
    <body>
    {{something_cool}} <br/>
    <h1>Внимание, база данных дропается каждый день, так что то, что ваш аккаунт исчез - это норма. Можете писать админу, если хотите - он пригласит вас на чашку чая. Если, конечно, вы адрес этого админа найдете</h1>
    {% if user.is_authenticated %}
        <h1>Добро пожаловать, {{user.username}} !!!</h1>
        <a href="/my/">My Feedbacker</a><br />
        <a href="/logout">Выйти</a><br />
    {% else %}        
    <h1> Добро пожаловать в feedbacker!</h1>    
    <p>Войдите </p>
     <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Логин: <input type="text" name="username" value="" size="50" />
            <br />
            Пароль: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Вход!" />
        </form><br />        
    или <a href = "/register/"> зарегистрируйтесь</a> <br />
    {% endif %}
        <h3>Недавно зарегистрированные студенты: </h3><br />         
         {% if students %}
            
            <ul>
                {% for student in students %}
                <li> {{ student.user.first_name }} {{ student.user.last_name }}, {{ student.group.name }} </li>
                {% endfor %}
            </ul>
            {% else %}
                Пока еще никто не зарегистрировался. <br/>
            {% endif %}         
        <h3>Недавно зарегистрированные преподаватели: </h3><br />         
        {% if instructors %}            
            <ul>
                {% for instructor in instructors %}
                <li> {{ instructor.user.last_name }} {{ instructor.user.first_name }}, {{ instructor.middle_name }} </li>
                {% endfor %}
            </ul>
            {% else %}
                Пока еще никто не зарегистрировался. <br/>
            {% endif %}         
    <a href = "/about_us/">О нас</a><br/>
    <a href = "/about_feedbacker">О приложении</a><br/>
         <img src='{% static "app/pictures/yasdelal.png" %}' alt="Ya sdelal'" />

    </body>


</html>
