{% extends "app/base.html" %}
{% load staticfiles %}
		{% block title %}Feedbacker{% endblock %}
				{% block content %}
			<div id="content">
				<button id="abU_but_main"><a href="/about_us/" style="color: #fff">О Carrotz</a></button>
				<button id="abF_but_main"><a href="/about_feedbacker" style="color: #fff">О Feedbacker</a></button>
				{% if user.is_authenticated %}
				<div id="usDescr"> Welcome, {{user.username}} </div>
				<p class="myBtn"><a href="/my" >Мой кабинет</a></p>
				{% else %}
				<header class = "descr">
					<div id="content_header" >	
						Feedbacker
					</div>
					<div id="description" > 
						Система обратной связи <br>
						для студентов и преподавателей.<br>
						<!-- For tests -->
						
						<!-- Tests end -->

					</div>
				</header>
				<div class="login-card">
			    		<h1>Войти</h1><br>
					<form id="login_form" method="post" action="/login/">
						{% csrf_token %}
            			<input type="text" name="username" value="" placeholder="Логин"/>
            			<input type="password" name="password" value=""  placeholder="Пароль"/>
						<input type="submit" name="login" class="login login-submit" value="Войти">
					<ul>
						<li><a href="/register" style="color: #000">Регистрация</a></li>
						<li><a href="#" style="color: #000">Забыли пароль?</a></li>
					</ul>
					</form>
				</div>
				{% endif %} 
			</div>
		{% endblock %}