<!DOCTYPE html>
<html>

    <head>       
        <title>Feedbacker</title>
    </head>

    <body>
        <h1>Login to Feedbacker</h1>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>