<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>FEEDBACKER</title>
        <link rel = "stylesheet" href="{% static "app/css/base.css" %}" />
        <script src="{% static "app/scripts/jquery.js" %}"></script>
    </head>

    <body>
    <h1>Добро пожаловать обратно, {{user.username}} !!!</h1>               
    <a href="/logout">Выйти</a><br />                  
    <a href="/">На главную</a><br />
    <p> Сегодня: {{ today }}</p>
    <h2> Ваш профиль </h2>
    <p> Тип аккаунта: {{ account_type}} </p>     
    <p> Email: {{user.email}}    </p>
    {% if student_info %}
    <p> Группа: {{ student_info.student.group }}</p>        
    <p> Ваши предметы: </p>        
          {% if student_info.s_to_l %}            
            <ul>
            {% for key,value in student_info.s_to_l %}            
                <li><b>{{ key }}</b></li>                            
                {% if value %}
                Прошедшие лекции:<br/>
                <ul>
                    {% for lec in value %}                        
                        <li> {{ lec }}, {{ lec.datetime }} </li>
                    {% endfor %}
                </ul>
                {% else %}
                    Лекции пока не добавлены.
                {% endif %}
            {% endfor %}
            </ul>                                        
        {% else %}
            Предметы для вашей группы еще не добавлены. <br/>
        {% endif %}     
    {% endif %}     
    {% if instructor_info %}   
    Вы преподаватель
    {% endif %}          
    {% if admin_info %}   
    Вы админ
    {% endif %}          
    </body>

</html>