<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<title>Feedbacker</title>
		<!--<script src="https://www.google.com/recaptcha/api.js" async defer type="text/javascript"></script>-->
		<script src='{% static "app/scripts/registration_form_switcher.js" %}' type="text/javascript"></script>
		<!--<script src='{% static "app/scripts/registration_form_validator.js" %}' type="text/javascript"></script>-->
	</head>
	<body>
		<h1> Регистрация </h1>
		{% if registered %}
			Регистрация завершена успешно! Письмо об активации отправленно на указанный email.<br>
			<a href="/">Вернуться на главную</a><br>
		{% else %}
			<!--{% if account_activated %}
				Активация аккаунта завершена успешно!<br>
				<a href="/">Вернуться на главную</a><br>
			{% else %}
				{% if account_activation_error%}
					Ошибка при активации аккаунта.<br>
					<a href="/">Вернуться на главную</a><br>
				{% else %}-->
					{% if student_form and instructor_form %}
						<input type="checkbox" id="instructor_switch" onclick="switch_form('instructor_switch', 'instructor_form', 'student_form');"/>Я преподаватель<br>
					{% endif %}
					{% if student_form %}
						<div id="student_form">
							<h2> Для студента </h2>						
							<form id="user_form" method="post" action = "/register_student/" enctype="multipart/form-data">
								{% csrf_token %}
								
								<!-- Форма для юзера -->
								<div class="field_first_name">
									<label>Имя: </label>
									{{ user_form.first_name }}<br>
									{{ user_form.first_name.errors }}<br>
								</div>
								<div class="field_last_name">
									<label>Фамилия: </label>
									{{ user_form.last_name }}<br>
									{{ user_form.last_name.errors }}<br>
								</div>																				
								<!-- Форма для студента -->								
								<div class="field_faculty_name">
									<label>Группа: </label>
									{{ student_form.faculty_name }} 
									{{ student_form.study_mode }}
									{{ student_form.year_started }}
									{{ student_form.group_number }}<br><br>

									{% if student_form.faculty_name.errors %}																		
									{{ student_form.faculty_name.errors }}<br> 
									{% endif %}
									{% if student_form.study_mode.errors %}																			
									{{ student_form.study_mode.errors }}<br>
									{% endif %}
									{% if student_form.year_started.errors %}																		
									{{ student_form.year_started.errors }}<br>
									{% endif %}
									{% if student_form.group_number.errors %}																		
									{{ student_form.group_number.errors }}<br>
									{% endif %}
								</div>
								<!--
								<div class="field_study_mode">									
									{{ student_form.study_mode }}<br>
									{{ student_form.study_mode.errors }}<br>									
								</div>
								-->
									
								<div class="field_student_id">
									<label>Номер студенческого: </label>
									{{ student_form.student_id }}<br>
									{{ student_form.student_id.errors }}<br>
								</div>
								<div class="field_username">
									<label>Имя пользователя: </label>
									{{ user_form.username }}<br>
									{{ user_form.username.errors }}<br>
								</div>			
								<div class="field_email">
									<label>Email: </label>
									{{ user_form.email }}<br>
									{{ user_form.email.errors }}<br>
								</div>	
								<div class="field_password">
									<label>Пароль: </label>
									{{ user_form.password }}<br>
									{{ user_form.password.errors }}<br>
								</div>
								<div class="field_password_validatorr">
									<label>Подтверждение пароля: </label>
									{{ user_form.password_validator }}<br>
									{{ user_form.password_validator.errors }}<br>
								</div>
								<!--<div class="field_captcha">
									{{ captcha_form.as_p }}<br>
									{{ captcha_form.errors }}<br>
								</div>-->
								<input type = "submit" name = "submit" value = "Зарегистрироваться" />
							</form>
						</div>
					{% endif %} <!-- Закрыли условный оператор для формы студента-->
					{% if instructor_form %}
						<div id="instructor_form">
							<h2>Для преподавателя</h2>
							<form id="user_form" method="post" action = "/register_instructor/" enctype="multipart/form-data">
								{% csrf_token %}								
								<!-- Форма для юзера -->
								<div class="field_last_name">
									<label>Фамилия: </label>
									{{ user_form.last_name }}<br>
									{{ user_form.last_name.errors }}<br>
								</div>
								<div class="field_first_name">
									<label>Имя: </label>
									{{ user_form.first_name }}<br>
									{{ user_form.first_name.errors }}<br>
								</div>								
								<div class="field_middle_name">
									<label>Отчество: </label>
									{{ instructor_form.middle_name }}<br>
									{{ instructor_form.middle_name.errors }}<br>
								</div>
								<div class="field_phone_number">
									<label>Номер телефона: </label>
									{{ instructor_form.phone_number }}<br>
									{{ instructor_form.phone_number.errors }}<br>
								</div>
								<div class="field_username">
									<label>Имя пользователя: </label>
									{{ user_form.username }}<br>
									{{ user_form.username.errors }}<br>
								</div>
								<div class="field_email">
									<label>Email: </label>
									{{ user_form.email }}<br>
									{{ user_form.email.errors }}<br>
								</div>								
								<div class="field_password">
									<label>Пароль: </label>
									{{ user_form.password }}<br>
									{{ user_form.password.errors }}<br>
								</div>
								<div class="field_password_validatorr">
									<label>Подтверждение пароля: </label>
									{{ user_form.password_validator }}<br>
									{{ user_form.password_validator.errors }}<br>
								</div>
								
								<!-- Форма для преподавателя-->								
								
								<!--<div class="field_captcha">
									{{ captcha_form.as_p }}<br>
									{{ captcha_form.errors }}<br>
								</div>-->
								<input type = "submit" name = "submit" value = "Зарегистрироваться"/>
							</form>
						</div>
					{% endif %} <!-- Закрыли условный оператор для формы инструктора. -->
				<!--{% endif %} <!-- Закрыли условный оператор для проверки на ошибку активации аккаунта. -->
			<!--{% endif %} <!-- Закрыли условный оператор для подтверждения активации аккаунта. -->
		{% endif %} <!-- Закрыли условный оператор для завершения регистрации. Письмо отправленно на почту. -->
	</body>
</html>