<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>FEEDBACKER</title>
        <link rel = "stylesheet" href="{% static "app/css/base.css" %}" />
        <script src="{% static "app/scripts/jquery.js" %}"></script>
    </head>

    <body>
    <h1>Добро пожаловать обратно, {{user.username}} !!!</h1>               
    <a href="/logout">Выйти</a><br />                  
    <a href="/">На главную</a><br />
    <p> Сегодня: {{ today }}</p>
    <h2> Ваш профиль </h2>
    <p> Тип аккаунта: {{ user.get_profile_type_display }} </p>     
    <p> Email: {{user.email}} </p>        
    {% if user.st_profile.group %}    
    <p> Группа: {{ user.st_profile.group }}
    {% else %}
    <p> Вы не привязаны ни к одной из групп </p>
    {% endif %}        

    <p> Номер студенческого: {{ user.st_profile.student_id }}</p>  


 
    </body>

</html>