/* Для всего документа. Футер!!! */
html, body {
    height: 100%;
}
#page_wrapper {
    min-height: 100%;
    overflow:auto;
    padding-bottom:75px;
}
footer.footer {
    position: relative;
    margin-top: -75px;
    height: 75px;
    clear:both;
    padding-top:20px;
}



/* Навигационное меню */
div.collapse.navbar-collapse ul li a {
    font-size: 14px;
}

span.navbar-glyphicon {
    margin-right: 5px;
}
.nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}



/* Общее */
div.container-base {
    margin-top: 2cm;
}
span.inline-glyphicon {
    margin-right: 5px;
}
span.inline-label {
    margin-right: 2px;
}
.inline {
    display: inline;
}
strong.alert-title {
    margin-right: 10px;
}
div.tab-content {
    margin-top: 15px;
}
.sidebar_buttons {
    margin-top: 10px;
}
.sidebar_button {
    margin-top: 10px;
    width: 100%;
}
.btn {
    white-space: normal;
}
.chart_wrapper, .chart_wrapper .chart_container {
    width: 100%;
    height: 100%;
}
div.jumbotron {
    padding: 5px;
    background-color: #e9ecf4;
}
.tooltip.in {
    filter: alpha(opacity=85);
    opacity: .85;
}
.tooltip-inner {
    color: #fff;
    background-color: #333;
}
span.dropdown-element-glyphicon {
    margin-right: 10px;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.hcenter2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



/* Формы */
.form_field {
    margin-bottom:5px;
}
.register_form {
    min-width: 220px;
    max-width: 320px;
}
.login_form {
    min-width: 200px;
    max-width: 300px;
}
.errors_field {
    margin-top: 5px;
    color: red;
}
form input.form-control.invalid {
    box-shadow: 0 0 3px 2px red;
    -webkit-appearance: none;
}
form input.form-control.valid {
    box-shadow: 0 0 3px 2px lightgreen;
    -webkit-appearance: none;
 }



/* Sidebar-меню */
ul.custom-sidebar {
    margin-bottom: 10px;
}
ul.custom-sidebar > li {
    margin-bottom: 7px;
}
/* Параметры для элемента меню (панель или кнопка) */
ul.custom-sidebar li > a {
    text-decoration: none;
    color: inherit;
}
ul.custom-sidebar > li > a {
    /*color: #31708F;*/
    /*color: lightgray;*/
    color: white;
    /*background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);*/
    /*background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);*/
    /*background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);*/
    background-image: linear-gradient(to bottom, #a5b5c4 0%, #a5b5c4 100%);
    /*border-width: 1px;
    border-style: solid;
    border-color: #dbdbdb;*/
    border-radius: 3px;
}
ul.custom-sidebar > li.active > a {
    color: white;
    background-image: linear-gradient(to bottom, #b5c5d4 0%, #b5c5d4 100%);
}
ul.custom-sidebar ul > li > a {
    background-image: none;
    border-radius: 0px;
}
ul.custom-sidebar ul > li > ul > li:first-child > a {
    border-top: 1px solid #a5b5c4;
}
ul.custom-sidebar > li > ul > li:not(:last-child) {
    border-bottom: 1px solid #a5b5c4;
}
ul.custom-sidebar li > a.custom-collapse::after {
    content: '>>';
    float: right;
    /*color: lightslategray;*/
    color: white;
    transition: all 0.2s ease;
}
@media (min-width: 768px) and (max-width: 855px) {
    ul.custom-sidebar li > a.custom-collapse::after {
        content: '>';
    }
    ul.custom-sidebar > li > a {
        padding-left: 10px;
        padding-right: 5px;
    }
}
ul.custom-sidebar li.active > a.custom-collapse {
    border-radius: 3px 3px 0px 0px;
}
ul.custom-sidebar li.active > a.custom-collapse::after { 
    transform: rotate(90deg);
    /*color: darkslategrey;*/
}
/* Параметры для контента панели (вложенные элементы или заглушка) */
ul.custom-sidebar > li > ul {
    border-style: solid;
    border-color: #a5b5c4;
    border-width: 1px;
    border-radius: 3px;
}
ul.custom-sidebar ul > li > ul > li > * {
    padding-left: 2.25em;
}
ul.custom-sidebar ul > li > a:hover {
    background-color: #f6f7f2;
}
ul.custom-sidebar li.active > ul {
    border-radius: 0px 0px 3px 3px;
}
ul.custom-sidebar li > p {
    padding: 10px 15px;
    text-align: justify;
    margin: 0;
}
ul.custom-sidebar > li > p {
    border-style: solid;
    border-color: #a5b5c4;
    border-width: 1px;
    border-radius: 3px;
}
ul.custom-sidebar > li.active li > p {
    border-radius: 0px 0px 3px 3px;
}



/* Таблица с рейтенгами по именным грантам */
table.scoreboard-map {
    margin-top: 10px;
    margin-bottom: 10px;
}
table.scoreboard-map td {
    padding: 5px 15px;
}
table.scoreboard-map td::before {
    display: block;
    float: left;
    content: "■";
    font-size: 2em;
    width: 1em;
    height: 1em;
    transform: translateY(-0.5em);
}
/* Шокало */
table.scoreboard tbody tr:not(:nth-child(n+30)) td {
    background-color: #FFF6DB;
}
table.scoreboard-map td.scm9::before {
    color:#FFF6DB;
}
/* Бондаренко */
table.scoreboard tbody tr:not(:nth-child(n+28)) td {
    background-color: #FFDBE4;
}
table.scoreboard-map td.scm8::before {
    color:#FFDBE4;
}
/* Свиридов */
table.scoreboard tbody tr:not(:nth-child(n+26)) td {
    background-color: #F6DBFF;
}
table.scoreboard-map td.scm7::before {
    color:#F6DBFF;
}
/* Новіков */
table.scoreboard tbody tr:not(:nth-child(n+21)) td {
    background-color: #DBE4FF;
}
table.scoreboard-map td.scm6::before {
    color:#DBE4FF;
}
/* Иванченко */
table.scoreboard tbody tr:not(:nth-child(n+15)) td {
    background-color: #FFE4DB;
}
table.scoreboard-map td.scm5::before {
    color:#FFE4DB;
}
/* Янгеля */
table.scoreboard tbody tr:not(:nth-child(n+11)) td {
    background-color: #FFDBF6;
}
table.scoreboard-map td.scm4::before {
    color:#FFDBF6;
}
/* Масельського */
table.scoreboard tbody tr:not(:nth-child(n+7)) td {
    background-color: #E4DBFF;
}
table.scoreboard-map td.scm3::before {
    color:#E4DBFF;
}
/* Верх. рада */
table.scoreboard tbody tr:not(:nth-child(n+6)) td {
    background-color: #DBF6FF;
}
table.scoreboard-map td.scm2::before {
    color:#DBF6FF;
}
/* Президент */
table.scoreboard tbody tr:not(:nth-child(n+4)) td {
    background-color: #DBFFE4;
}
table.scoreboard-map td.scm1::before {
    color:#DBFFE4;
}



/* Блог */
.blog {
    margin-top: 10px;
}
.blog.shrinked {
    display: none;
}
.blog.shrinked.ready {
    display: block;
}
.blog > .blog-post {
    color: #3c4f6d;
    margin-bottom: 35px;
}
.blog > .blog-post > .blog-post-header {
    margin-bottom: 10px;
}
.blog > .blog-post > .blog-post-header > .blog-post-title {
    font-size: 24px;
    text-transform: uppercase;
}
.blog > .blog-post > .blog-post-header > .blog-post-title a {
    text-decoration: underline;
}
.blog > .blog-post > .blog-post-header > .blog-post-author,
.blog > .blog-post > .blog-post-header > .blog-post-date {
    font-size: 14px;
    font-style: italic;
    display: inline-block;
}
.blog > .blog-post > .blog-post-header > .blog-post-author,
.blog > .blog-post > .blog-post-header > .blog-post-date {
    color: rgba(60, 79, 109, 0.75);
}
.blog > .blog-post > .blog-post-header > .blog-post-author::after {
    content: ", опубликовано:";
}
.blog > .blog-post > .blog-post-header > a > span.glyphicon {
    padding-left: 10px;
}
.blog > .blog-post > .blog-post-body {
    clear: both;
    padding-top: 10px;
    text-align: justify;
}
.blog > .blog-post > .blog-post-show-full {
    padding-top: 10px;
}

/* 940 - временное решение проблемы с пагинатором. Нормальное значение 768 */
@media (min-width: 940px) {
    .blog-pagination li:first-child a span::after {
        content: "На первую";
        padding-left: 5px;
    }
    .blog-pagination li:last-child a span::before {
        content: "На последнюю";
        padding-right: 5px;
    }
}



/* Кастомизация Bootstrap`а. Дичайшая кривизна, нифига не оптимально, но работает */
.navbar-inverse {
  background-image: linear-gradient(to bottom, #0a1944 0%, #0a1944 100%);
  border-color: #101e5a;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #3c4f6d 100%);
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #3c4f6d 100%);
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-image: linear-gradient(to bottom, #3c4f6d 0%, #3c4f6d 100%);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: linear-gradient(to bottom, #3c4f6d 0%, #3c4f6d 100%);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #101e5a;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}


.panel {
    background-color: white;
}
.panel-info {
  border-color: #d9d8dd;
}
.panel-info > .panel-heading {
  color: #3c4f6d;
  background-image: linear-gradient(to bottom, #d9d8dd 0%, #d9d8dd 100%);
  border-color: #d9d8dd;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d9d8dd;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #d9d8dd;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d9d8dd;
}

body {
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse a.navbar-brand  {
    color: #f5f5f5;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #e0e0e0;
}


.btn-primary {
  color: #f5f5f5;
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #203050 100%);
  border-color: #2c3c5a;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #f5f5f5;
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #203050 100%);
  border-color: #2c3c5a;
}
.btn-primary:hover {
  color: #f5f5f5;
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #203050 100%);
  border-color: #2c3c5a;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f5f5f5;
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #203050 100%);
  border-color: #2c3c5a;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #f5f5f5;
  background-image: linear-gradient(to bottom, #a5b5c4 0%, #95a5b4 100%);
  border-color: #95a5b4;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-image: linear-gradient(to bottom, #3c4f6d 0%, #203050 100%);
  border-color: #2c3c5a;
}
.btn-primary .badge {
  color: #101e5a;
  background-image: linear-gradient(to bottom, #a5b5c4 0%, #95a5b4 100%);
}


.btn-default {
  color: #3c4f6d;
  background-color: #fff;
  border-color: #d9d8dd;
}
.btn-default:focus,
.btn-default.focus {
  color: #3c4f6d;
  background-color: #f6f7f2;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #3c4f6d;
  background-color: #f6f7f2;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #3c4f6d;
  background-color: #f6f7f2;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #3c4f6d;
  background-color: #f6f7f2;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #3c4f6d;
}


a {
    color: #3c4f6d;
}
a:hover {
    color: #444046;
}


.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #0a1944;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #a5b5c4;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #d9d8dd;
  border-color: #a5b5c4;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #3c4f6d;
  border-color: #0a1944;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #a5b5c4;
}