{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Новости{% endblock %}

{% block scripts %} 
<script>$('#about_us_li').addClass('active');</script> 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            {% if blogpost.id %}
            <div class="panel-heading"><h4>Редактировать новость</h4></div>
            {% else %}
            <div class="panel-heading"><h4>Добавить новость</h4></div>
            {% endif %}
            <div class="panel-body">
                <form role="form" action="{{ action }}" method="POST">
                    {% csrf_token %}
                    {{ form }}<br/>
                    <div class="btn-group" id="sbutton_wrapper">
                        <button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>                  
                    </div>
                </form><br/>
                <a href="{% url 'news:news' %}">Обратно к списку постов</a>
            </div>
        </div>
   </div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}