{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Новости{% endblock %}

{% block scripts %} 
<script>$('#about_us_li').addClass('active');</script> 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel-body">
            {% if perms.app.add_blogpost %}
            <div class="btn-group">
                <a href="{% url 'news:newspiece-new' %}"><button class="btn btn-primary" id="submit" title="Новый пост">Создать новость</button></a>
            </div>
            {% endif %}
            <div class="blog">
                {% for post in object_list %}
                <div class="blog-post">
                    <div class="blog-post-header">
                        <div class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                        <div class="blog-post-date">{{ post.timestamp.date }}</div>
                        {% if perms.news.add_newspiece %}

                        <a href="{% url 'news:newspiece-edit' pk=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a>

                        <a data-toggle="modal" data-target="#myModal" href="#"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></a>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Удаление новости</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Вы уверены, что хотите удалить эту новость?</p>
                              </div>
                              <div class="modal-footer">
                                 <div class="execute_block">
                                    <form action="{% url 'news:newspiece-delete' pk=post.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" id="save_blog" title="Удалить">Удалить</button>    
                                    </form>
                                </div>
                                <div class="go_back_block">
                                    <button class="btn btn-default" title="Передумал" data-dismiss="modal">Передумал!</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
  


<!---

                        <a href="{% url 'news:newspiece-delete' pk=post.id %}"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span>
-->




                        </a>
                        {% endif %}
                    </div>
                    {% autoescape off %}
                    <div class="blog-post-body shrinked" id="blog-post-body_{{ forloop.counter }}">{{ post.short_description }}</div>
                    <script>
                        blog_post_body_current = document.getElementById("blog-post-body_{{ forloop.counter }}");
                        bpost_max_length = 500;
                        new_read_full_button = document.createElement("div");

                        new_read_full_button.className = "blog-post-show-full";
                        new_read_full_button.innerHTML = "<a href='{{ post.get_absolute_url }}'><button class='btn btn-default' title='Перейти к просмотру полной версии поста'>Читать дальше →</button></a>"; 
                        if (blog_post_body_current.innerHTML.length > bpost_max_length)
                        {
                            blog_post_body_current.innerHTML = blog_post_body_current.innerHTML.substr(0, bpost_max_length - 4) + " …";
                            blog_post_body_current.parentNode.insertBefore(new_read_full_button, blog_post_body_current.nextSibling);
                        }
                        blog_post_body_current.classList.add("ready");
                    </script>
                    {% endautoescape %}
                    
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center">
            <ul class="pagination">
                {% if object_list.has_previous %}
                <li><a href="?page=1" title="Самое новое"><span>&lt&lt</span></a></li>
                <li><a href="?page={{ object_list.previous_page_number }}" title="Новее">&lt</a></li>
                {% endif %}


                {% for page_num in object_list.paginator.page_range %}
                <!-- Если это текущая страница, то отображаем ее обязательно, и думаем, что делать вокруг -->
                {% if object_list.number == page_num %}
                <!-- Если номер страницы больше 4, то есть 5 и выше, то отображаем троеточие и номер предыдущей страницы -->
                {% if page_num > 4 %}
                {% if page_num > 5 %}
                <li><a href="?page={{ object_list.previous_page_number|add:'-1' }}" title="Новее">...</a></li>
                {% endif %}
                <li><a href="?page={{ object_list.previous_page_number }}" title="Новее">{{ object_list.previous_page_number }}</a></li>
                {% endif %}
                <li class="active"><a href="?page={{ page_num }}" onclick="return false;">{{ page_num }}</a></li>

                {% if page_num > 4 and page_num != object_list.paginator.num_pages|add:'-1' and object_list.has_next %}
                <li><a href="?page={{ object_list.next_page_number }}" title="Старее">{{ object_list.next_page_number }}</a></li>
                {% if page_num < object_list.paginator.num_pages|add:'-2' %}
                <li><a href="?page={{ object_list.next_page_number|add:'1' }}" title="Старее">...</a></li>
                {% endif %}
                {% endif %}


                {% else %}
                <!-- Отображаем номера страниц от 1 до 3 -->
                    {% if page_num < 4 %}
                    <li><a href="?page={{ page_num }}"> {{ page_num }}</a></li>
                    {% endif %}
                    {% if page_num == 4 and object_list.number < 3 and object_list.paginator.num_pages > 4 %}
                    <li><a href="?page={{ page_num }}">... </a></li>
                    {% endif %}
                <!-- Если рисуем 4-ю страницу, а находимся на третьей -->
                    {% if page_num == 4 and object_list.number == 3 and object_list.paginator.num_pages > 4 %}
                    <li><a href="?page={{ page_num }}"> {{ page_num }} </a></li>
                <!-- Елсли при этом следующая страница существует, то отображаем ее -->
                    {% if page_num|add:'1' <= object_list.paginator.num_pages and object_list.paginator.num_pages > 5 %}
                    <li><a href="?page={{ page_num|add:'1' }}"> ... </a></li>
                    {% endif %}
                    {% endif %}

                    {% if page_num == 5 and object_list.number == 4 and object_list.paginator.num_pages > 5 %}
                    <li><a href="?page={{ page_num }}"> {{ page_num }} </a></li>
                     {% if page_num|add:'1' <= object_list.paginator.num_pages and object_list.paginator.num_pages > 6 %}
                    <li><a href="?page={{ page_num|add:'1' }}"> ... </a></li>
                    {% endif %}
                    {% endif %}

                    {% if page_num == object_list.paginator.num_pages and object_list.paginator.num_pages > 3 %}
                    <li><a href="?page={{ page_num }}"> {{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
                {% endfor %}

                
                {% if object_list.has_next %}
                <li><a href="?page={{ object_list.next_page_number }}" title="Старее">&gt</a></li>
                <li><a href="?page={{ object_list.paginator.num_pages }}" title="Самое старое"><span>&gt&gt</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}