{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ blogpost.title }}{% endblock %}

{% block scripts %} 
<script>$('#about_us_li').addClass('active');</script> 
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel-body">
            <div class="btn-group">
                <a href="{% url 'news:news' %}"><button class="btn btn-default" title="Передумал">Обратно к списку новостей</button></a>
            </div>
            <div class="blog">
                <div class="blog-post">
                    <div class="blog-post-header">
                        <div class="blog-post-title">{{ newspiece.title }}</div>
                        <div class="blog-post-date">{{ newspiece.timestamp  }}</div>
                    </div>

{% if perms.news.add_newspiece %}

                        <a href="{% url 'news:newspiece-edit' pk=newspiece.id %}"><span class="glyphicon glyphicon-pencil"></span></a>

                        <a data-toggle="modal" data-target="#myModal" href="#"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></a>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Удаление новости</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Вы уверены, что хотите удалить эту новость?</p>
                              </div>
                              <div class="modal-footer">
                                 <div class="execute_block">
                                    <form action="{% url 'news:newspiece-delete' pk=newspiece.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" id="save_blog" title="Удалить">Удалить</button>    
                                    </form>
                                </div>
                                <div class="go_back_block">
                                    <button class="btn btn-default" title="Передумал" data-dismiss="modal">Передумал!</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                        </a>
                        {% endif %}



                    {% autoescape off %}
                    <div class="blog-post-body">{{ newspiece.body }}</div>
                    {% endautoescape %}
                </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}