{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ blogpost.title }}{% endblock %}

{% block scripts %} 
<script>$('#about_us_li').addClass('active');</script> 
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel-body">
            <div class="btn-group">
                <a href="{% url 'blog:blog' %}"><button class="btn btn-default" title="Передумал">Обратно к списку постов</button></a>
            </div>
            <div class="blog">
                <div class="blog-post">
                    <div class="blog-post-header">
                        <div class="blog-post-title">{{ blogpost.title }}</div>
                        <div class="blog-post-author">{{ blogpost.author }}</div>
                        <div class="blog-post-date">{{ blogpost.timestamp  }}</div>
                        
                        {% if blogpost.author == user %}

                        <a href="{% url 'news:newspiece-edit' pk=blogpost.id %}"><span class="glyphicon glyphicon-pencil"></span></a>

                        <a data-toggle="modal" data-target="#myModal" href="#"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></a>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Удаление новости</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Вы уверены, что хотите удалить эту новость?</p>
                              </div>
                              <div class="modal-footer">
                               <div class="execute_block">
                                <form action="{% url 'news:newspiece-delete' pk=blogpost.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" id="save_blog" title="Удалить">Удалить</button>    
                                </form>
                            </div>
                            <div class="go_back_block">
                                <button class="btn btn-default" title="Передумал" data-dismiss="modal">Передумал!</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </a>
    {% endif %}

    {% autoescape off %}
    <div class="blog-post-body">{{ blogpost.body }}</div>
    {% endautoescape %}
</div>
<div id="comments-block">
    {% if comments %}
    {% for comm in blogpost.comment_set.all %}

    {% if comment.id and comment.id == comm.id %}
    {% if form %}
    <form method="post" action="{{ action }}">
        {% csrf_token %}

        {{ form }}
        <div class="btn-group" id="sbutton_wrapper">
            <button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>                  
        </div>

    </form>
    <div class="btn-group" id="sbutton_wrapper">
        <a href="{% url 'blog:blogpost-view' pk=blogpost.id %}"><button class="btn btn-primary" id="save_blog" title="Сохранить">Отмена</button></a>
    </div>                
    {% endif %}
    {% else %}
    <p>{{ comm.title }}</p>
    <p>Действия: 
        {% if comm.author == user %}
        <a href="{% url 'blog:comment-edit' blogpost_id=blogpost.id pk=comm.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="{% url 'blog:comment-delete' blogpost_id=blogpost.id pk=comm.id %}"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></span></a>
        {% else %}
        <span class="glyphicon glyphicon-pencil"></span>
        {% endif %}
    </p>
    <p> {{ comm.author }}, {{ comm.timestamp.date }}</p>
    <p>{{ comm.body }}</p>

    {% endif %}

    {% endfor %}
    {% else %}
    <p><i>Комментариев пока нет.</i></p>
    {% endif %}
</div>
{% if not comment.id %}
{% if form %}
<br/><p>Написать комментарий:</p>
<form method="post" action="{{ action }}">
    {% csrf_token %}

    {{ form }}
    <div class="btn-group" id="sbutton_wrapper">
        <button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>                  
    </div>

</form>
{% endif %}
{% endif %}
</div>
</div>
</div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}