{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Блог разработчиков{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
    <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Блог разработчиков</h4></div>
            <div class="panel-body">
                {% for post in posts %}
                <h2>{{post.title }}</h2>
                <h4>{{ post.author }}</h4>
                <h6>{{ post.timestamp.date }}</h6>
                {% autoescape off %}
                <p>{{ post.body }} </p>
                {% endautoescape %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}



