{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Блог разработчиков{% endblock %}

{% block scripts %} 
<script>$('#about_us_li').addClass('active');</script> 
{% endblock %}

{% block stylesheets %}
<style>
div.confirmation_block {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
div.confirmation_block > div.execute_block {
    float: left;
}
div.confirmation_block > div.go_back_block {
    float: right;
}
</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-0"></div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="confirmation_block">
                    <h1>Удалить комментарий</h1>
                    <p>Ты уверен, что хочешь удалить этот комментарий?</p>
                    <div class="execute_block">
                        <form action="{% url 'main:comment-delete' blogpost_id=comment.blogpost.id pk=comment.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" id="save_blog" title="Удалить">Удалить</button>    
                        </form>
                    </div>
                    <div class="go_back_block">
                        <a href="{% url 'main:blog' %}"><button class="btn btn-default" title="Передумал">Передумал!</button></a>
                    </div>
                </div>
            </div> 
        </div>
   </div>
<div class="col-lg-4 col-sm-4 col-xs-0"></div>
</div>
{% endblock %}