.page_wrapper { padding-top: 50px; padding-left: 0px; padding-right: 0px; }
.main-box { padding: 20px 10px; }
.main-box a { text-decoration: underline; }
.main-box .main-info-box {
    text-align: center;
    color: #3c4f6d;
    height: fit-content;
    max-width: 700px;
    margin-left: auto;  margin-right: auto;
}
.login_form {
    min-width: none;   max-width: none;
    margin-top: 30px;   margin-bottom: 15px;
    margin-left: auto;  margin-right: auto;
}
.login_form #btn_login {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 18px;
    width: 100%;
}
.news_carousel {
    background-color: inherit;
    min-height: 250px;
    width: 100%; height: 100%;
    margin-left: auto;  margin-right: auto;
}
.news_carousel .carousel-inner, .news_carousel .carousel-inner .item  { background-color: inherit; width: 100%; height: 100%; }
.news_carousel .carousel-control { width: 5%; }
.news_carousel .news_item {
    background-color: inherit;
    color: #3c4f6d;
    background-color: inherit;
    text-align: center;
    width: fit-content; max-width:90%; max-height: fit-content;
    margin: auto;
    padding: 10px 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); -o-transform: translateY(-50%);
    cursor: pointer;
}
.news_item > p {
    font-size: 18px;
    width: fit-content;
    margin-left: auto;  margin-right: auto;
}
.news_item > a.ni_full_link { position: relative; float: right; }
.block_news { height: 100px; }
.block_news .news_carousel, .block_news .news_carousel .carousel-inner, .block_news .news_carousel .item { height: 100%; min-height: fit-content; }
.carousel-indicators { bottom: 7px; }
.block_services { background-color: white; }
.block_services > * { background-color: inherit; }
.info-block {
    color: #3c4f6d;
    background-color: inherit;
    text-align: center;
    min-width: none;    max-width: 400px;
    padding: 5px;
    margin-top: 35px;   margin-bottom: 20px;
    margin-left: auto;  margin-right: auto;
    border: 1px solid rgba(60, 79, 109, 0.25);
    border-radius: 3px;
}
.info-block > * {
    font-size: 17px;
    position: relative;
    top: -20px; /* Если есть кнопки, то -35px */
}
.info-block .title {
    top: -35px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    background-color: inherit;
    width: max-content;
    margin-left: auto;  margin-right: auto;
    padding-left: 15px; padding-right: 15px;
}
.info-block a {
    display: none; /* Кнопки скрыты!!! */
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(20,160,20);
    border-radius: 5px;
    padding: 10px 15px;
    top: -20px;
}
.info-block a:hover { background-color: rgb(20,130,20); }
@media (max-width: 767px) {
.main-box { margin-top: -20px; }
.login_form { max-width: 400px; }
.block_services { padding: 0; }
.news_carousel { height: 100px; width: 100%; }
.news_carousel .news_item { padding: 5px 5px; max-width: 90%; height: 100%; }
.news_carousel .carousel-control.left,
.news_carousel .carousel-control.right { display: none; }
.carousel-indicators { bottom: 3px; }
}
@media (min-width: 768px) {
.main-info-box { margin-top: -10px; }
.login_form .form-group { display: inline-block; width: 49.5%; }
.login_form .form-group#login_group { float: left; }
.login_form .form-group#password_group { float: right; }
.news_item > p { font-size: 20px; }
}
@media (min-width: 768px) and (max-width: 1199px) {
.main-box { height: 40vh; }
.more-info-box { height: 45vh; }
.block_services { height: 50%; }
.block_news { height: 50%; }
}
@media (min-width: 768px) and (max-width: 1400px) {
.info-block > * { font-size: 16px; }
}
@media (min-width: 768px) and (max-width: 1470px) {
.block_services, .block_services > [class*='col-'] { padding-left: 5px; padding-right: 5px; }
}
@media (min-width: 1200px) {
.main-box { height: 40vh; }
.more-info-box { height: 45vh; }
.block_services { height: 30vh; }
.block_news { height: 15vh; width: 70%; margin-left: auto; margin-right: auto; }
.more-info-box .block_services [class*='col-'] { height: 100%; }
.main-box .main-info-box, .more-info-box .block_services .info-block { position: relative; top: 50%; transform: translateY(-50%); -o-transform: translateY(-50%); }
.info-block { margin-top: 10px; margin-bottom: 10px; }
}
.news_carousel .carousel-control.left,
.news_carousel .carousel-control.right { background-image: none; background-color: inherit; filter: none; }
.news_carousel .carousel-control .glyphicon-chevron-left,
.news_carousel .carousel-control .glyphicon-chevron-right { color: #a5b5c4; opacity: 0.5; }
.news_carousel .carousel-indicators > * { background-color: #a5b5c4; }
.news_carousel .carousel-indicators > .active { background-color: #3c4f6d; }