.faq_section {
	font-size: 27px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.faq_subsection {
	font-size: 20px;
	margin: 10px;
}

div#faq_questions div div div.panel-body {
	font-size: 16px;
}

div#faq_questions div div h4.panel-title a {
	font-size: 17px;
}

div#faq_questions div.panel.panel-info {
	margin-bottom: 10px;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072"; /* "play" icon */
	float: right;
	color: #222;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #999;
}