{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Оценка лекции{% endblock %}

{% block scripts %}
{% if user.status_confirmed %}
<script>
    var survey_script = '{% static "app/scripts/pages/survey.js" %}';
</script>
<script type="text/javascript" src='{% static "app/scripts/pages/evaluation.js" %}'></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="panel panel-info ajax_panel">
        <div class="panel-heading">{{ gtsil.gtsi.gts.subject}}, {{ gtsil.gtsi.instructor.last_name }} {{ gtsil.gtsi.instructor.first_name }} {{ gtsil.gtsi.instructor.middle_name }}, {{ gtsil.lecture_start_time|date:"d.m.Y" }}</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#lec_eval">Оценка лекции</a></li>
                <li><a data-toggle="tab" href="#surveys">Тесты и опросы к лекции</a></li>
            </ul>
            <div class="tab-content">
                <div id="lec_eval" class="tab-pane fade in active">
                    {% if voted %}
                    <h4>Вы уже проголосовали!<br/><small>Ваш голос уже учтён.</small></h4>
                    {% else %}
                    {% if criteria %}
                    <div id="vote_result"></div>
                    <form class="lock" role="form" id="vote_form" action="{% url 'main:vote_lecture' gtsil.id %}" method="post">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                1- Совершенно не согласен, 2 - Скорее нет, чем да, 3 - Не уверен, 4 - Скорее да, чем нет, 5 - Абсолютно согласен
                            </div>
                        </div>
                        <h4>Вы еще не голосовали!</h4>
                        {% csrf_token %}
                        <ul> 
                            {% for cr in criteria %}
                            <p style="margin-bottom: 5px;"><b>{{ cr.criteria_name }}</b><br/>
                            <small>{{ cr.criteria_description }}</small></p>
                            <div style="margin-bottom: 10px;">
                                <input type="radio" name="{{ cr.id }}" value="1" placeholder="1" data-toggle="tooltip" title="Совершенно не согласен"/>
                                <input type="radio" name="{{ cr.id }}" value="2" placeholder="2" data-toggle="tooltip" title="Скорее нет, чем да"/>
                                <input type="radio" name="{{ cr.id }}" value="3" placeholder="3" data-toggle="tooltip" title="Не уверен"/>
                                <input type="radio" name="{{ cr.id }}" value="4" placeholder="4" data-toggle="tooltip" title="Скорее да, чем нет"/>
                                <input type="radio" name="{{ cr.id }}" value="5" placeholder="5" data-toggle="tooltip" title="Абсолютно согласен"/>
                            </div>
                            {% endfor %}
                            <label for="skipped"><input type="checkbox" name="skipped" id="skipped"> Не был на лекции</label>
                        </ul>
                        <div class="well well-sm">Если на лекции произошло что-то из ряда вон выходящее и вы хотите пожаловаться, то поставьте галочку в чекбоксе "Это жалоба".<br/>Руководство университета и тем более преподаватели не видят, кто отправил жалобу, поэтому вы ничем не рискуете.</div>
                        <div id="complaint" class="form-group">
                            <label for="is_complaint"><input type="checkbox" name="is_complaint" id="is_complaint"> Это жалоба</label><br/>
                            <div id="complaint_textfield"><textarea rows="4" cols="50" name="feedback" style="width:100%"></textarea></div>
                        </div>
                        {% if user.status_confirmed %}
                        <div id="btn-group"><button class="btn btn-primary" type="submit" id="submit" title="Отправка данных">Оценить</button></div>
                        {% else %}
                        <p>Оценивание недоступно, так как ваша принадлежность к группе не подтверждена. Пожалуйста, введите код подтверждения.</p>
                        {% endif %}
                    </form>
                    {% else %}
                    <h4>На данный момент, критерии недоступны</h4>
                    {% endif %}
                    {% endif %}
                </div>
                <div id="surveys" class="tab-pane fade">
                    <div id="surveys_ajax_links">
                        
                        <p>Вам повезло! Преподаватель пока еще не создал ни тестов, ни опросов на эту лекцию для вашей группы.</p>
                        
                        <ul class="nav nav-pills nav-stacked">
                            
                        </ul>
                        
                    </div>
                    <div id="surveys_ajax_inner">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
{% endblock %}