{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Голосование{% endblock %}

{% block scripts %}
{% if user.status_confirmed %}
<script type="text/javascript" src='{% static "app/scripts/pages/evaluation.js" %}'></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="panel panel-info ajax_panel">
        <div class="panel-heading">{{ gtsi.gts.subject.full_name }}, {{ gtsi.activity_type.short_name }}, {{ gtsi.instructor.last_name }} {{ gtsi.instructor.first_name }} {{ gtsi.instructor.middle_name }}</div>
        <div class="panel-body">
            {% if voted %}
            <h4>Вы уже проголосовали!<br/><small>Ваш голос уже учтён.</small></h4>
            {% else %}
            {% if criteria %}
            <div id="vote_result"></div>
            <form class="lock" role="form" id="vote_form" action="{% url 'main:vote_subject' gtsi.id %}" method="post">
                <h4>Вы еще не голосовали!</h4>
                {% csrf_token %}
                <ul>
                    {% for cr in criteria %}
                    <p style="margin-bottom: 5px;"><b>{{ cr.criteria_name }}</b><br/>
                    <small>{{ cr.criteria_description }}</small></p>
                    <div style="margin-bottom: 10px;">
                        <input type="radio" name="{{ cr.id }}" value="1" placeholder="1" data-toggle="tooltip" title="Совершенно не согласен"/>
                        <input type="radio" name="{{ cr.id }}" value="2" placeholder="2" data-toggle="tooltip" title="Скорее нет, чем да"/>
                        <input type="radio" name="{{ cr.id }}" value="3" placeholder="3" data-toggle="tooltip" title="Не уверен"/>
                        <input type="radio" name="{{ cr.id }}" value="4" placeholder="4" data-toggle="tooltip" title="Скорее да, чем нет"/>
                        <input type="radio" name="{{ cr.id }}" value="5" placeholder="5" data-toggle="tooltip" title="Абсолютно согласен"/>
                    </div>
                    {% endfor %}
                </ul>
                {% if user.status_confirmed %}
                <div id="btn_group"><button type="submit" class="btn btn-primary" id="submit" title="Отправка данных">Оценить</button></div>
                {% else %}
                <p>Оценивание недоступно, так как выбор группы не подтверждён. Пожалуйста, введите код подтверждения. <a href="/faq/#q8">(?)</a></p>
                {% endif %}
            </form>
            {% else %}
            <h4>На данный момент, критерии недоступны</h4>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
{% endblock %}