{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Пройти опрос{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "app/scripts/get_cookie.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/csrf.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/survey.js" %}'></script>
{% endblock %}
 
{% block content %}
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="panel panel-info survey_panel">
        <div class="panel-heading">Опрос к лекции по: {{ gtsil.gtsi.gts.subject }} ({{ gtsil.lecture_start_time }}, {{ gtsil.gtsi.instructor }}) <br/>
        Название: {{survey.survey_name}}</div>
        <div class="panel-body survey_panel_inner">
            {% if voted %}
            <p>Извините, но вы уже ответили на вопросы этого теста.</p>
            {% else %}
            <div id="survey_result" hidden>Данные успешно сохранены</div>
            <form id="survey_form" action="{% url 'main:survey' survey.als_id %}">
                <input id="total_answers" value="{{ qa|length }}" hidden>
                {% for i in qa %}
                <b>{{forloop.counter}}. {{ i.question }}</b>
                <ul>
                    {% for a in i.answers %}
                    <div class="radio">
                        <label><input type="radio" class="survey_optradio" name="optradio_{{forloop.parentloop.counter}}." id="{{ a.alc_id }}">{{ a.choice_text }}</label>
                    </div>
                    {% endfor %}
                </ul>
                {% endfor %}
                <div class="form_group">
                    <button type="submit" class="btn btn-primary" id="btn_send_survey" onclick="send_survey(); return false;">Отправить</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
{% endblock %}