{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Блог разработчиков{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    if(!is_mobile())
    {
        $('[data-toggle="tooltip"]').tooltip();
    }
});
</script>
<script type="text/javascript" src='{% static "app/scripts/notify.min.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notification_handler.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/my_profile.js" %}'></script>
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Блог разработчиков</h4></div>
            <div class="panel-body">

             <form role="form" action="{% url 'main:blog-new' %}" method="POST">
              {% csrf_token %}
              
                {{ form }}
            
        <div class="btn-group" id="sbutton_wrapper">
                  <button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>                  
                </div>
        </form>

<a href="{% url 'main:blog' %}">back to list</a>

            </div>
        </div>
   </div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}