{% extends "base.html" %}
{% block title %}Пароль изменен успешно{% endblock %}

{% block content %}
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
<div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Пароль успешно изменен.</h4></div>
        <div class="panel-body">
            <p>Вы можете войти в свой аккаунт <a href="{% url 'main:login' %}">здесь</a>.</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
{% endblock %}