{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
<div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Забыли пароль?</h4></div>
        <div class="panel-body">
            <p>Чтобы восстановить пароль, укажите, пожалуйста, адрес электронной почты, который вы использовали при регистрации.<br/>
            После этого вам на почту будет отправлено письмо с дальнейшими инструкциями.<br/></p>
            <form role="form" class="form-inline" method="post" action="{% url 'main:password_reset' %}">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" hidden>
                <div class="form-group">
                    <label class="sr-only" for="email">Укажите адрес эл. почты:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="example@gmail.com" value="" maxlength="50">
                </div>
                <div class="btn-group"><button type="submit" name="submit" class="btn btn-primary" style="width:100px">Отправить</button></div>
            </form>
            <div class="errors_field">{{ form.email.errors }}</div>   
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}