{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Пароль успешно сброшен{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "app/scripts/redirection_countdown.js" %}'></script>
<script>redirect_countdown(3, 'countdown_wrapper', "{% url 'main:index' %}", 'Вы будете перенаправлены на главную страницу в течении');</script>
{% endblock %}

{% block content %}
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
<div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading"><h4><span class="glyphicon glyphicon-envelope inline-glyphicon"></span>Сообщение было отправленно!</h4></div>
        <div class="panel-body">
            <p>Вам на почту отправлены инструкции по восстановлению пароля.<br/>
            Нажмите <a href="{% url 'main:login' %}">здесь</a> для быстрого перехода на главную страницу.<br/></p>
            <div id="countdown_wrapper"></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
{% endblock %}