{% extends "base.html" %}
{% block title %}Установка нового пароля{% endblock %}

{% block content %}
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
<div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Сброс пароля</h4></div>
        <div class="panel-body">
            {% if validlink %}
            <h3>Введите новый пароль (два раза):</h3>
            <form action="" method="post">
                <div hidden><input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"></div>
                <div class="form-group">                 
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">     
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                </div>
                <div class="btn-group"><button type="submit" name="submit" class="btn btn-primary" style="width:100px">Отправить</button></div>
            </form>
            {% else %}
            <h3>Изменить пароль не удалось</h3>
            <p>Возможно, вы попытались дважды воспользоваться одной и той же ссылкой. Пожалуйста, запросите измнение пароля <a href="/user/password/reset">еще раз</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
{% endblock %}