{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Страница не найдена{% endblock %}

{% block content %}
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
<div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">Ошибка 404. Увы, но искомая вами страница не существует.</div>
        <div class="panel-body">
            <p>Для возврата на главную страницу нажмите <a href="{% url 'main:index' %}">здесь</a>.</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
{% endblock %}