{% extends "base.html" %}
{% load staticfiles %}
{% block title %}О нас{% endblock %}

{% block scripts %}
<script>$('#about_us_li').addClass('active');</script>
{% endblock %}

{% block content %}           
<div class="row">
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>О команде</h4></div>
            <div class="panel-body">
                <p>Автор идеи - <strong>Анастасия Макаревич</strong></p>
                <p>Разработчики - команда "Логово логики" (ХНУРЭ, 2 курс).</p>
                <h3>Анастасия Макаревич </h3>
                <p><i>архитектура сервиса, базы данных, программирование, деплоймент, api, чуть-чуть front-end'а</i></p>
                <p><a href="https://www.facebook.com/ana.makarevich7" target="_blank"><img src="{% static 'app\images\fblogo.png' %}"/></a>&nbsp;&nbsp;&nbsp;<a href="http://vk.com/anablake" target="_blank"><img width=29px src="{% static 'app\images\vklogo.png' %}"/></a></p>
                <p><img src="{% static 'app\images\maillogo.jpg' %}"> E-mail: <a href='mailto:&#101;&#108;&#101;&#099;&#116;&#114;&#105;&#099;&#046;&#098;&#108;&#097;&#107;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;'>&#101;&#108;&#101;&#099;&#116;&#114;&#105;&#099;&#046;&#098;&#108;&#097;&#107;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
                <h3>Роман Суворов</h3>
                <p><i>front-end, верстка, JavaScript, Ajax, программирование, адаптации под мобильные устройства</i></p>
                <p><a href="https://www.facebook.com/kikiwora" target="_blank"><img src="{% static 'app\images\fblogo.png' %}"/></a>
                &nbsp;&nbsp;&nbsp;<a href="http://vk.com/kikiwora" target="_blank"><img width=29px  src="{% static 'app\images\vklogo.png' %}"/> </a></p>
                <p><img src="{% static 'app\images\maillogo.jpg' %}"> E-mail: <a href="mailto:&#107;&#105;&#107;&#105;&#119;&#111;&#114;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#107;&#105;&#107;&#105;&#119;&#111;&#114;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
</div>                
{% endblock %}