{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Личный кабинет{% endblock %}

{% block scripts %}
<script>$('#my_li').addClass('active');</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-sm-2 col-xs-0"></div>
    <div class="col-lg-4 cols-sm-8 col-xs-12">
        <div class="well well-sm">
            <h1>Добро пожаловать обратно, {{user.username}} !!!</h1>
            <p>Сегодня: {% now "SHORT_DATE_FORMAT" %}</p>
            <h2>Ваш профиль</h2>
            <p>Тип аккаунта: Админ</p>
            <p>Email: {{user.email}}</p>
            <a href="/admin" class="btn btn-primary">Панель управления</a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}