{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Ошибка подтверждения{% endblock %}

{% block content %}
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
<div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Cрок действия ссылки активации истек.</h4></div>
        <div class="panel-body">
            <p>Для возврата на главную страницу нажмите <a href="{% url 'main:index' %}">здесь</a>.</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-2 col-xs-0"></div>
{% endblock %}