{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Связь с администратором{% endblock %}

{% block scripts %}
<script>$('#help_li').addClass('active');</script>
<script type="text/javascript" src='{% static "app/scripts/notify.min.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notification_handler.js" %}'></script>
<script>
    var email_regex = /^([A-Z]|[a-z]|[0-9]|\.|_|\-)+@([A-Z]|[a-z]|[0-9]|\.|_|\-)+\.([A-Z]|[a-z]){2,4}$/;
    $("#contact_admin_form").submit(function(e) {
        var validators_status = {'email':false, 'subject':false, 'letter_body':false};
        
        if (email_regex.test(document.getElementById('email').value))
        {
            validators_status['email'] = true;
            hide_element_notification('email_field');
        }
        else
        {
            validators_status['email'] = false;
            element_notification('email_field', "Неверный формат почтового адреса", 'right middle', 'info');
        }
        
        validators_status['subject'] = (document.getElementById('subject').value != '' && document.getElementById('subject').value != null);
        validators_status['letter_body'] = (document.getElementById('letter_body').value != '' && document.getElementById('letter_body').value != null);
        
        if (validators_status['email'] && validators_status['subject'] && validators_status['letter_body'])
        {
            hide_element_notification('sbutton_wrapper');
            return true;
        }
        else
        {
            element_notification('sbutton_wrapper', "Необходимо заполнить все поля правильно", 'right middle', 'info');
            e.preventDefault();
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Отправить сообщение администратору</h4></div>
            <div class="panel-body">
                {% if sent %}
                <p>Сообщение было успешно отправлено. Можете отправить еще, если хотите.</p>
                {% endif %}
                <form role="form" action="{% url 'main:contact_admin' %}" method="post" id="contact_admin_form">
                    {% csrf_token %}
                    <div class="form-group" id="email_field"><input type="text" class="form-control" name="email" id="email" maxlength="50" placeholder="e-mail (Обязательно)"></input></div>
                    <div class="form-group"><input type="text" class="form-control" name="subject" id="subject" maxlength="100" placeholder="Тема (Обязательно)"></input></div>
                    <div class="form-group"><textarea class="form-control" name="letter_body" id="letter_body" rows="4" cols="50" placeholder="Ваше сообщение" style="width:100%"></textarea></div>
                    <div class="btn-group" id="sbutton_wrapper"><button class="btn btn-primary" id="submit">Отправить</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}