{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Отзывы студентов{% endblock %}

{% block scripts %}
<script>
$('#user_li').addClass('active');
</script>
<script type="text/javascript" src='{% static "app/scripts/notify.min.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notification_handler.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/my_profile.js" %}'></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Отзывы студентов</h4></div>
            <div class="panel-body">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">По отдельным лекциям</a></li>
    <li><a data-toggle="tab" href="#menu1">Итоговые</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div>{% regroup complaints by gtsil.gtsi.instructor.departments as comp_list %}

                {% for comp in comp_list %}
                <li>{{ comp.grouper }}
                    <ul>
                        {% for item in comp.list %}
                        <li>Дата занятия: {{ item.gtsil.lecture_start_time }}</li>
                        <li>Дата отзыва: {{ item.timestamp }}</li>
                        <li>Жалоба: {{ item.is_complaint }}</li>
                        <li>Статус: {{ item.get_complaint_status_display }} </li>
                        <li>Предмет: {{ item.gtsil.gtsi.gts.subject }} </li>
                        <!-- Жалобу нужно выделить красным. Просто отзыв - зеленым -->
                        <li>Текст отзыва:</li>
                        {{ item.feedback }}

                        {% endfor %}
                    </ul>
                </li>
                {% empty %}
                <li>Отзывов пока нет</li>
                {% endfor %}
            </div>
    </div>




    <div id="menu1" class="tab-pane fade">
      <div>{% regroup overall_complaints by gtsi.instructor as comp_list %}

                {% for comp in comp_list %}
                <li>{{ comp.grouper }}
                    <ul>
                        {% for item in comp.list %}
                        <li>Дата отзыва: {{ item.timestamp }}</li>
                        <li>Предмет: {{ item.gtsi.gts.subject }} </li>
                        <!-- Жалобу нужно выделить красным. Просто отзыв - зеленым -->
                        <li>Текст отзыва:</li>
                        {{ item.feedback }}

                        {% endfor %}
                    </ul>
                </li>
                {% empty %}
                        <li>Отзывов пока нет</li>
                {% endfor %}
            </div>
    </div>
  </div>





               
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}

