{% extends "base.html" %}
{% load staticfiles %}
{% block title %}FAQ{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'app/css/pages/faq.css' %}">
{% endblock %}

{% block scripts %}
<script>$('#help_li').addClass('active');</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">
        <div class="panel-group faq_questions" id="faq_questions">
            <div class="faq_section">Общие вопросы</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q1">Что мне делать, если не работает кнопка/меню и т.д.?</a>
                    </h4>
                </div>
                <div id="q1" class="panel-collapse collapse">
                    <div class="panel-body">
                        Попробуйте перезагрузить страницу. Если результат не соответствует ожиданию, то попробуйте поискать ответ на интересующий вас вопрос в разделе «Студенту», если вы студент,
                        или в разделе «Преподавателю», если вы преподаватель. Если и это не помогает, то <a href="/contact_admin/">обратитесь к администратору сайта</a>.                        
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q2">Я не могу зарегистрироваться, что мне делать?</a>
                    </h4>
                </div>
                <div id="q2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Проверьте, что вы правильно ввели все данные. Если данные введены правильно, но регистрация не происходит, <a href="/contact_admin/">обратитесь к администратору</a>. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q2_b">Мне не пришло письмо для подтверждения адреса почты</a>
                    </h4>
                </div>
                <div id="q2_b" class="panel-collapse collapse">
                    <div class="panel-body">
                        Обычно письма приходят в течение 5-10 минут. Если за это время письмо так и не пришло, то, вероятно, вы указали неверный адрес электронной почты. В этом случае попробуйте зарегистрироваться заново. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q3">При входе в аккаунт сайт «тормозит», что мне делать?</a>
                    </h4>
                </div>
                <div id="q3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Ничего не делать, немного подождать. Это может быть связано с тем, что мы пока используем бесплатный хостинг. Кроме того, если вы первый зарегистрированный пользователь в своей группе,
                        то может понадобиться некоторое время, чтобы загрузить ваши данные. Однако, если вы ждете дольше минуты, то это повод <a href="/contact_admin/">написать администратору</a>.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q4">Как изменить язык интерфейса?</a>
                    </h4>
                </div>
                <div id="q4" class="panel-collapse collapse">
                    <div class="panel-body">
                        Пока никак, но мы усердно работаем над этим. В первую очередь мы переведем все на украинский, а затем на английский.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q5">У меня есть идеи, как улучшить приложение, что мне делать?</a>
                    </h4>
                </div>
                <div id="q5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="/contact_admin/">Пишите нам</a>, указав в теме "Есть идея!", и мы с радостью рассмотрим ваши идеи и воплотим их. А, возможно, именно вы их и воплотите вместе с нами.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q6_a">Мне не нравится ваш дизайн, я могу сделать лучше!</a>
                    </h4>
                </div>
                <div id="q6_a" class="panel-collapse collapse">
                    <div class="panel-body">
                        Отлично! <a href="/contact_admin/">Напишите нам</a> и сделайте это!
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q6_b">Сколько ждать ответа от администратора?</a>
                    </h4>
                </div>
                <div id="q6_b" class="panel-collapse collapse">
                    <div class="panel-body">
                        На данном этапе вы можете ожидать ответа в течение 1-2 дней. Если вопрос простой, то, скорее всего, ответ вы получите в тот же день.
                    </div>
                </div>
            </div>

            <div id="for_student" class="faq_section">Студенту</div>
            <div class="faq_subsection">Привязка к учебной группе</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q7">Я не могу найти свою группу</a>
                    </h4>
                </div>
                <div id="q7" class="panel-collapse collapse">
                    <div class="panel-body">
                        Если при регистрации вы указывали свою учебную группу, но она почему-то не привязалась к вашему профилю, то вы сможете привязать ее позже,
                        зайдя в свой аккаунт. Если же группа все равно не находится, то <a href="/contact_admin/">обратитесь к администратору</a>. Чтобы быстрее получить ответ, в теме укажите «Проблема с привязкой группы: ХХ-НН-Н», где ХХ-НН-Н — название группы. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q8">Что такое код подтверждения и где мне его взять?</a>
                    </h4>
                </div>
                <div id="q8" class="panel-collapse collapse">
                    <div class="panel-body">
                        Код подтверждения — это уникальный идентификатор вашей группы, который вам должен выдать староста или преподаватель. Код вводится только один раз для подтверждения вашей принадлежности к указанной группе.
                        Если же у вас есть электронная почта на nure.ua, то проще будет просто зарегистрироваться с этим адресом, и тогда ваш статус будет подтвержден автоматически. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q9">Я ошибся с выбором группы, как мне изменить это? </a>
                    </h4>
                </div>
                <div id="q9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="/contact_admin/">Связаться с администратором</a> и подтвердить, что вы действительно перепутали группу, а не меняете ее просто так. 
                    </div>
                </div>
            </div>
            <div class="faq_subsection">Аккаунт</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q10">Я староста, есть ли особый аккаунт для старосты? Как мне его получить?</a>
                    </h4>
                </div>
                <div id="q10" class="panel-collapse collapse">
                    <div class="panel-body">
                        Да, есть, но пока отличий от обычного аккаунта мало. На данный момент у нас нет, к сожалению, полного списка всех старост университета, поэтому мы не можем автоматически подтвердить ваш статус.
                        Если вам все равно очень хочется аккаунт старосты, <a href="/contact_admin/">свяжитесь с администратором</a>.
                    </div>
                </div>
            </div>
            <div class="faq_subsection">Предметы</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q11">Я вижу лишние предметы, почему?</a>
                    </h4>
                </div>
                <div id="q11" class="panel-collapse collapse">
                    <div class="panel-body">
                        Скорее всего, для вашего курса есть предметы по выбору, поэтому вы видите все предметы, которые проходит ваша группа. В ближайшее время мы добавим возможность убирать предметы по выбору из списка.
                    </div>
                </div>
            </div>
            <div class="faq_subsection">Голосование/Анонимность</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q12">Я не был на лекции, как мне голосовать?</a>
                    </h4>
                </div>
                <div id="q12" class="panel-collapse collapse">
                    <div class="panel-body">
                        Просто поставьте галочку в графе «Не был на лекции». Это НЕ будет использоваться для учета посещаемости и преподаватель не будет видеть, сколько человек и кто именно не был на лекции.Это нужно только для того,
                        чтобы больше не предлагать вам оценивать это занятие (оно останется у вас в списке, но при нажатии не будет появляться область для голосования).
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q13">Преподаватель пришел на лекцию неподготовленный, путал конъюнкцию с дизъюнкцией и угрожал мне стрелкой Пирса. Как мне оценить такую лекцию?</a>
                    </h4>
                </div>
                <div id="q13" class="panel-collapse collapse">
                    <div class="panel-body">
                        Ситуация, конечно, маловероятная, но если произошло что-то действительно странное и из ряда вон выходящее, то оставьте сообщение об этом в соответствующем поле и поставьте галочку «Это жалоба».
                        Эти сообщения анонимны и НЕ отображаются в личном кабинете преподавателя, а передаются выше (они видны заведующему кафедры, декану и ректору), поэтому будьте вежливы. Однако, если ваша жалоба оказалась клеветой,
                        и это подтвердили другие, или же если ваша жалоба являла собой оскорбление, то мы будем вынуждены раскрыть вашу личность. Во всех остальных случаях вы можете быть уверены, что ваше сообщение анонимно. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q14">Что писать в разделе для жалоб при голосовании?</a>
                    </h4>
                </div>
                <div id="q14" class="panel-collapse collapse">
                    <div class="panel-body">
                        Мы надеемся, что вам не придется туда ничего писать, и у вас хороший преподаватель. В целом же в эту графу можно писать в следующих случаях:
                        <ol>
                            <li>На лекции произошло что-то странное и неадекватное. Тогда см. предыдущий вопрос.</li>
                            <li>У вас есть сомнения в компетентности преподавателя, и вы можете привести аргументы в пользу этой идеи. Опишите конкретный пример, в чем это проявлялось на лекции.</li>
                            <li>У вас есть конструктивные предложения, как можно улучшить эту лекцию/пз — напишите об этом в эту графу. В этом случае не ставьте галочку «Это жалоба».</li>
                        </ol>
                        Напоминаем, что анонимность соблюдается в том случае, если ваш комментарий корректен, и не содержит оскорблений (аргументированное сомнение в компетентности и описание произошедшей конфликтной/проблемной ситуации
                        не считается оскорблением). 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q15">Видит ли преподаватель, кто как голосовал?</a>
                    </h4>
                </div>
                <div id="q15" class="panel-collapse collapse">
                    <div class="panel-body">
                        Нет. Иначе бы весь проект не имел никакого смысла. Ваши оценки абсолютно анонимны, и мы ни при каких условиях не раскрываем имена. Но мы проводим анализ того, как вы голосуете и можем «уменьшить» ценность вашего голоса,
                        если, например, вы всегда всем ставите единицы или пятерки. Мы защищаем вашу анонимность, но при этом заботимся о том, чтобы оценки были адекватными.
                    </div>
                </div>
            </div>

            <div id="for_instructor" class="faq_section">Преподавателю</div>
            <div class="faq_subsection">Регистрация/Профиль</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q16">На каком языке указывать имя и фамилию?</a>
                    </h4>
                </div>
                <div id="q16" class="panel-collapse collapse">
                    <div class="panel-body">
                        На любом. Это ваш личный аккаунт, и имя и фамилия в нем не имеют отношения к тому, как вы записаны в базе данных университета. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q17">Должен ли я обязательно указывать телефон?</a>
                    </h4>
                </div>
                <div id="q17" class="panel-collapse collapse">
                    <div class="panel-body">
                        Пока да. Никакого спама не будет, обещаем.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q18">Должен ли я обязательно использовать почту на nure.ua?</a>
                    </h4>
                </div>
                <div id="q18" class="panel-collapse collapse">
                    <div class="panel-body">
                        Нет, но это значительно упростить подтверждение вашего статуса и выдачу вам необходимых прав и привилегий, когда мы подключим базу адресов nure.ua.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q19">Я случайно привязался к чужому профилю, что мне делать?</a>
                    </h4>
                </div>
                <div id="q19" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="/contact_admin/">Свяжитесь с администрацией</a>, и мы вам поможем. Приносим извинения за эти неудобства — это сделано для вашей же защиты.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q20">Я зарегистрировался, но мой аккаунт пуст! Почему?</a>
                    </h4>
                </div>
                <div id="q20" class="panel-collapse collapse">
                    <div class="panel-body">
                        Скорее всего, никто из ваших студентов еще не зарегистрировался в системе. Ваши пары появятся в списке в том случае, если будет хотя бы один зарегистрированный студент, у которого вы преподаете.
                    </div>
                </div>
            </div>
            <div class="faq_subsection">Просмотр голосов</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q21">Что такое индекс здоровья предмета?</a>
                    </h4>
                </div>
                <div id="q21" class="panel-collapse collapse">
                    <div class="panel-body">
                        Индекс здоровья предмета — это процент от возможного максимума, который можно получить в вашей ситуации (то есть при оценке по этим критериям). Не волнуйтесь, мы не сравниваем апельсины с яблоками.
                        Когда система будет полноценно использоваться, этот индекс будет показывать процент от лучшего результата в системе. 
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q22">Откуда берутся критерии?</a>
                    </h4>
                </div>
                <div id="q22" class="panel-collapse collapse">
                    <div class="panel-body">
                        Критерии могут быть заданы заведующим кафедрой, деканом или ректором. На данный момент действуют критерии, заданные по умолчанию.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq_questions" href="#q23">Мне не хватает какой-то конкретной статистики, что делать?</a>
                    </h4>
                </div>
                <div id="q23" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="/contact_admin/">Напишите нам</a>, и, скорее всего, мы добавим то, что вы хотите.
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="col-lg-2 col-md-1"></div>
</div>
{% endblock %}