{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Информация о группе{% endblock %}
 
{% block content %}
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="panel panel-info ajax_panel">
        <div class="panel-heading">Информация о группе {{ group }}</div>
        <div class="panel-body">
            <p>Код подтверждения (<a href="/faq/#q8">что это?</a>): {{ group.confirmation_code }}</p>
            <p>Количество зарегистрированных студентов: {{ num_users }}</p>
            {% if results%}
            <h4>Результаты тестов:</h4>
            <ul>
            {% for s in sresults %}
            <li>{{ s.surv.survey_name }} </li>
            <p>Всего тест прошли (человек): {{s.count}}, {{s.surv.als_id}}</p>                        
            {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
{% endblock %}

         