{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Feedbacker{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'app/css/pages/index.css' %}">
{% endblock %}

{% block scripts %}
<script>
    $('#main_li').addClass('active');
    var jquery_mobile_js_url = "{% static 'app/scripts/jquery.mobile.custom.min.js' %}";
</script>
<script type="text/javascript" src='{% static "app/scripts/pages/index.js" %}'></script>
{% endblock %}

{% block content %}
<div id="main-box" class="main-box">
    <section class="main-info-box">
        <h2>Feedbacker</h2>
        <h3>
            Качество образования - в ваших руках!<br>
        </h3>
        {% if not user.is_authenticated %}
        <form id="login_form" class="login_form lock" role="form" method="post" action="{% url 'main:login' %}">
            {% csrf_token %}
            <div id="login_group" class="form-group">
                <label class="sr-only" for="username">Имя пользователя</label>
                <input type="text" class="input-lg form-control" name="username" id="username_login" placeholder="Имя пользователя" value="" maxlength="30">
            </div>
            <div id="password_group" class="form-group">
                <label class="sr-only" for="password">Пароль</label>
                <input type="password" class="input-lg form-control" name="password" id="password_login" placeholder="Пароль" value="" maxlength="50">
            </div>
            <button id="btn_login" name="login" class="btn_login input-lg btn btn-primary" type="submit" title="Вход в аккаунт">Войдите</button>
        </form>
        <h5>или <a href="{% url 'main:register' %}" title="Перейти к форме регистрации">Зарегистрируйтесь</a></h5>
        {% else %}
        {% if user.profile_type.short_name == "СТ" %}
        Твой голос важен. 
        {% endif %}
        {% if user.profile_type.short_name == "ПР" or user.profile_type.short_name == "ЗК" %}
        Вы можете стать лучше, и ваши студенты знают, как!
        {% endif %}
        <!-- Иди голосуй -->
        {% endif %}
    </section>
</div>

<div id="more-info-box" class="more-info-box">
    <div id="block_services" class="block_services">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <section class="info-block">
                <h3 class="title">Студенту</h3>
                <p><ul class="list-unstyled">
                    <li>Высказать свое мнение о курсе</li>
                    <li>Сообщить о проблеме</li>
                    <li>Пройти тест</li>
                </ul></p>
                 <!--<a href="#">Узнать больше</a>-->
            </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <section class="info-block">
                <h3 class="title">Преподавателю</h3>
                <p><ul class="list-unstyled">
                    <li>Узнать свой рейтинг</li>
                    <li>Найти свои сильные и слабые стороны</li>
                    <li>Провести тестирование</li>
                </ul></p>
                 <!--<a href="#">Узнать больше</a>-->
            </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <section class="info-block">
                <h3 class="title">Руководителю</h3>
                <p><ul class="list-unstyled">
                    <li>Выявить лучших преподавателей</li>
                    <li>Понять слабые места системы</li>
                    <li>Получить наглядную статистику</li>
                </ul></p>
                <!--<a href="#">Узнать больше</a>-->
            </section>
        </div>
    </div>
    <div id="block_news" class="block_news">
        <div id="news_carousel" class="news_carousel carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#news_carousel" data-slide-to="0" class="active"></li>
                {% for newsbit in news %}
                <li data-target="#news_carousel" data-slide-to="{{ forloop.counter }}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <section class="news_item">
                        <p>{{ main.title }}</p>
                        <a class="ni_full_link" href="{{ main.get_absolute_url }}" hidden></a>
                    </section>
                </div>
                {% for newsbit in news %}
                <div class="item">
                    <section class="news_item">
                        <p>{{ newsbit.title }}</p>
                        <a class="ni_full_link" href="{{ newsbit.get_absolute_url }}" hidden></a>
                    </section>
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#news_carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#news_carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}