{% extends "base_my.html" %}
{% load staticfiles %}
{% block title %}Личный кабинет{% endblock %}

{% block scripts %}
<script>$('#my_li').addClass('active');</script>
<script>
    var get_lecture_chart_url = "{% url 'main:graphdata' %}";
    var get_subject_chart_url = "{% url 'main:subjgraphdata' %}";
    var get_groups_crit = "{% url 'main:getgroupscrit' %}";
    var student_rating_url = "{% url 'main:student_rating' %}";
    var student_rating_js = "{% static 'app/scripts/pages/student_rating.js' %}";
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src='{% static "app/scripts/date/date-ru-RU.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/get_cookie.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/csrf.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/ajax_core.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/my/instructor.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/survey.js" %}'></script>
{% endblock %}

{% block sidebar %}
<ul class="nav custom-sidebar">
<!--
    {% if pub_profile %}
    <li><a href="#" id="last_lectures_btn" class="custom-collapse" data-toggle="collapse" data-target="#last_lectures_submenu" aria-expanded="false" onclick="return false;">Последние лекции</a>
        <ul class="nav collapse" id="last_lectures_submenu" role="menu" aria-labelledby="last_lectures_btn">
            {% for time, lectures in times %}
            <li><a href="#collapse_recent_{{ forloop.counter }}" id="recent_lecture_{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse_recent_{{ forloop.counter }}" aria-expanded="false" onclick="return false;">{{ time.day }}.{{ time.month }}.{{ time.year }}</a>
                <ul class="nav collapse" id="collapse_recent_{{ forloop.counter }}" role="menu" aria-labelledby="recent_lecture_{{ forloop.counter }}">
                    {% for lecture in lectures %}
                    <li>
                        <a href="{% url 'main:lecture_results' lecture.gtsil_id %}" onclick="displayLectureStatistics('{% url 'main:lecture_results' lecture.gtsil_id %}'); return false;">{{ lecture.subject.0 }}, {{lecture.activity_short}}</br>
                        {% for group in lecture.groups %}
                        <div class="inline"><span class="label label-default inline-label">{{ group.0 }}</span></div>
                        {% endfor %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% empty %}
            <li><p>За последние 10 дней у вас не было ни одной лекции или же никто из ваших студентов еще не был зарегистрирован.</p></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    -->
    {% if named_grants %}
    <li><a href="{% url 'main:student_rating' %}" onclick="show_student_rating_panel(); return false;">Именные стипендии</a></li>
    {% endif %}

    {% if pub_profile %}
    <li><a href="#" id="subjects_list_btn" class="custom-collapse" data-toggle="collapse" data-target="#subjects_list_submenu" aria-expanded="false" onclick="return false;">Мои предметы (Все)</a>
        <ul class="nav collapse" id="subjects_list_submenu" role="menu" aria-labelledby="subjects_list_btn">
            {% for subj in subjs %}
            <li><a href="{% url 'main:subject_results' subj.subject.subject_id %}" onclick="displaySubjectStatistics('{% url 'main:subject_results' subj.subject.subject_id %}'); return false;">{{ subj.subject }}</a></li>          
            {% endfor %}
        </ul>
    </li>

    <li><a href="#" id="options_list_btn" class="custom-collapse" data-toggle="collapse" data-target="#options_list_submenu" aria-expanded="false" onclick="return false;">Тестирование</a>
        <ul class="nav collapse" id="options_list_submenu" role="menu" aria-labelledby="options_list_btn">
            <li><a href="#" onclick="show_surveys(); return false;">Результаты тестирования</a></li>
            <!--<li><a href="#" onclick="return false;">Создать тест (в разработке)</a></li>-->
        </ul>
    </li>

    <li><a href="#" id="groups_list_btn" class="custom-collapse" data-toggle="collapse" data-target="#groups_list_submenu" aria-expanded="false" onclick="return false;">Мои группы</a>
        <ul class="nav collapse" id="groups_list_submenu" role="menu" aria-labelledby="groups_list_btn">
            {% for group in m_groups %}
            <li><a class="tab_navigation_link" href="{% url 'main:group_info' group.group_id %}" onclick="return false;">{{ group }}</a></li>          
            {% endfor %}
        </ul>
    </li>
    {% endif %}

    {% if instructors %}
    <li><a href="#" onclick="show_fac_instructors_panel(); return false;">Мои преподаватели (Кафедра)</a></li>
    {% endif %}

    {% if not pub_profile %}
    <!--<li><p>Ваш профиль ещё не привязан.</p></li>-->
    {% endif %}
</ul>
{% endblock %}


{% block inform_block %}
<div class="panel panel-info">
    <div class="panel-heading">Индекс "здоровья" предметов</div>
    <div class="panel-body">
        {% if pub_profile %}
        <p><abbr title="Ваш процент от максимума"><a href="/faq/#q21">Как считается?</a></abbr></p>
        <div class="table-responsive"><table class="table table-condensed table-striped">
            <tbody>
                {% for s in subjs %}
                <tr>
                    <td>{{ s.subject.short_name }}</td>
                    <td>{{ s.shi }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
        {% else %}
        <p>Ваш профиль ещё не привязан.</p>
        {% endif %}
    </div>
</div>
<!--
<div class="panel panel-info">
    <div class="panel-heading">Объявления</div>
    <div class="panel-body">        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><p class="panel-title">
                    <a data-toggle="collapse" href="#collapse_news_1">Новость 1</a>
                </p></div>
                <div id="collapse_news_1" class="panel-collapse collapse">
                    <div class="panel-body">Какая-то новость</div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><p class="panel-title">
                    <a data-toggle="collapse" href="#collapse_news_2">Новость 2</a>
                </p></div>
                <div id="collapse_news_2" class="panel-collapse collapse">
                    <div class="panel-body">Какая-то новость 2<br/>От создателей "Какая-то новость".</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}

{% block main_block %}
<div class="panel panel-info">
    <div class="panel-heading text-center" id = "info_panel_title">Главное</div>
    <div class="panel-body" id="info_panel">
        <center><p>{% if not pub_profile %}Добро пожаловать{% else %}С возвращением{% endif %}, {{user.first_name}} {{ user.inst_profile.middle_name }}!</p></center>
        <p>Сегодня: {% now "d.m.Y" %}</p>
        {% if pub_profile %}
        <!--<p>Статус аккаунта: всё впорядке!</p>
        <p>Тип аккаунта: {{ user.profile_type }}, {{dept_managed }}</p>
        <p>Профиль CIST: {{ user.inst_profile.pub_profile }} </p>
        <p>Ваши кафедры:</p> 
        {% for dep in departments.all %} 
        <li>{{ dep }}</li>
        {% endfor %}
        -->
        <p>Вы можете:</p>
        <ul>
        <li>Просматривать информацию о своих группах</li>
        <li>Просматривать рейтинг своих предметов</li>
        {% if named_grants %}
        <li><a style="color:blue;text-decoration: underline;font-weight: bold;" href="{%url 'main:student_rating' %}">Подавать заяки</a> на стипендию для своих студентов</li>
        {% endif %}
        </ul>
        {% else %}
        <p>Профиль не привязан</p>
        <div class="btn-group"><button type="submit" class="btn btn-primary" title="Отправка данных" id="show_attach">Привязать</button></div>
        <div id="attach_text" style="display:none;">
        <p>Вы можете найти свой публичный профиль, введя имя и/или фамилию, первые буквы имени и/или фамилии или даже фрагмент имени или фамилии:<br/>
        Например, если вы Алан Тьюринг, то вы можете ввести имя и фамилию полностью, или можно ввести "А" для имени, "Т" для фамилии или даже просто "юри" в поле "Фамилия". Обратите внимание, что в публичных профилях ваши данные записаны на украинском языке!</p>
        <form role="form" class="form-inline" action="{% url 'main:find_profile' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="fname" id="code" value="" placeholder="Имя"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lname" id="code" value="" placeholder="Фамилия"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" id="submit">Найти</button>
            </div>
        </form>
    </div>
        <table class="table table-striped">
            <tbody>
                {% for instructor in sresults %}
                <tr>
                    <td>
                    <form role="form" action="{% url 'main:attach_profile' instructor.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group inline"><button class="btn btn-primary" id="submit" style="margin-right: 5px;">Привязать</button>{{ instructor.last_name }}, {{ instructor.first_name }} {{ instructor.middle_name }}</div>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block display_block %}

{% if pub_profile %}
<div class="panel panel-info" id="alert_hint">
    <div class="panel-heading">Выберите лекцию/предмет/группу в списке слева, чтобы узнать их характеристику</div>
</div>
{% endif %}

{% if instructors %}
<div class="panel panel-info" id="instructor_ajax_panel" hidden>
    <div class="panel-heading">Преподаватель кафедры: <span class="inline" id="fac_instructor_name"></span></div>
    <div class="panel-body">
    </div>
</div>
{% endif %}

{% if pub_profile %}
<div class="panel panel-info" id="lecture_statistics_panel" hidden>
    <div class="panel-heading">Лекция: <div class="inline" id="lecture_name"></div></div>
    <div class="panel-body">
        <div class="row" id="lecture_statistics_group">
            <div class="col-lg-4">
                <form role="form">
                    <div class="form-group">
                        <label for="lecture_statistics_groups_selector">Группы:</label>                 
                        <div class="checkbox" id="lecture_statistics_groups_selector"></div>
                        <div class="checkbox">
                            <label for="lecture_statistics_groups_all"><input type="checkbox" id="lecture_statistics_groups_all" onclick="uncheckCheckboxesGroup('lecture_show_group_checkbox');" style="margin-right: 5px;" checked>Все группы</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="criteria_selector">Критерии:</label>
                        <div class="form_group" id="lecture_statistics_criteria_selector"></div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" name="display" onclick="showLectureChart(); return false;">Показать</button>
                        </div>
                    </div>
                </form>
             </div>
             <div class="col-lg-8">
                <div class="panel panel-info">
                    <div class="panel-body">
                        1- Совершенно не согласен, 2 - Скорее нет, чем да, 3 - Не уверен, 4 - Скорее да, чем нет, 5 - Абсолютно согласен
                    </div>
                </div>
                <div class="chart_wrapper" id="lecture_chart_wrapper">
                    <div class="chart_container" id="lecture_chart_container">
                        <p>Подождите, идёт обработка данных по выбранным параметрам...<br/>Если вы ждали достаточно долго, скорее всего произошла ошибка.</p>
                    </div>
                    <div></div>
                </div>
             </div>
        </div>
        <div class="row" id="lecture_nostatistics_group" hidden>
            <div class="col-lg-8">
                <p>В этом семетре никто из Ваших студентов еще не проголосовал.</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info" id="subject_statistics_panel" hidden>
    <div class="panel-heading">Предмет: <div class="inline" id="subject_name"></div></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div id="subject_statistics_tabs" hidden>
                <ul class="nav nav-tabs" id="subject_statistics_tabs_header"></ul>
                <div class="tab-content" id="subject_statistics_tabs_content"></div>
            </div>
            <div id="subject_no_votes_message">
                <p>В этом семетре никто из Ваших студентов еще не проголосовал.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if instructors %}
<div class="panel panel-info" id="fac_instructors_panel" hidden>
    <div class="panel-heading">Преподаватели кафедры:</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {% for instr in instructors %}
            <li><a href="#" onclick="show_fac_instructor_panel('{{ instr }}'); return false;">{{ instr }}</a></li>               
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if pub_profile %}
<div class="panel panel-info" id="surveys_panel" hidden>
    <div class="panel-heading">Результаты тестирования</div>
    <div class="panel-body">
        {% if sresults %}
        <ul class="nav nav-pills nav-stacked">
            {% for sr in sresults %}
            <li>{{sr.subject}}
                <ul>
                    {% for d in sr.data %}
                    <li> {{ d.group }} 
                        <ul>
                        {% for s in d.surveys %}                                                
                        <li><a href = "{% url 'main:survey_results' survey_id=s.als_id group_id=d.group.group_id %}">
                        {{ s }} </a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Результаты пока что не доступны. Возможно, вы еще не проводили тестирование.</p>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="panel panel-info" id="student_rating_panel" hidden>
    <div class="panel-heading">Именные гранты</div>
    <div class="panel-body" id="student_rating_panel_content">
        Нет данных
    </div>
</div>
<div id="tab_navigation_container" hidden>
</div>

{% endblock %}
