{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Войти{% endblock %}

{% block scripts %}
<script>$('#login_li').addClass('active');</script>
{% endblock %}

{% block content %}
<div class="row">
    {% if not user.is_authenticated %}
    <div class="col-lg-4 col-sm-3 col-xs-0"></div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="well well-sm login_form hcenter">
            <div id="login_form_div">
                <form class="lock" role="form" id="login_form" method="post" action="{% url 'main:login' %}">
                    <label for="login_form"><h2>Войдите:</h2></label>
                    <!--
                    <p>Для входа в демо-аккаунт преподавателя:<br/>
                    логин: demo, пароль: demo</p>
                    -->
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="username">Имя пользователя:</label>
                        <input type="text" class="form-control" name="username" id="username_login" placeholder="Username" value="" maxlength="30">
                        <div class="errors_field">
                            {% if login_err %}
                                {{ login_err.0 }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password_login" placeholder="Пароль" value="" maxlength="50">
                        <div class="errors_field"></div>
                    </div>
                    <div id="result_field"></div>
                   
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group"><button type="submit" name="submit" class="btn btn-primary" title="Вход в аккаунт">Вход</button></div>
                        <div class="btn-group"><div class="text-center"><a href="/user/password/reset/">Забыли пароль?</a></div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-3 col-xs-0"></div>
    {% else %}
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Вы уже вошли в систему. Нет необходимости делать это ещё раз.</h4></div>
            <div class="panel-body">
                <p>Вы можете <a href="{% url 'main:my' %}">перейти в личный кабинет </a> или же <a href="{% url 'main:logout' %}">выйти из аккаунта</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    {% endif %}
</div>
{% endblock %}