{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Настройки{% endblock %}

{% block scripts %}
<script>
$('#user_li').addClass('active');
</script>
<script type="text/javascript" src='{% static "app/scripts/notify.min.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notification_handler.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/my_profile.js" %}'></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Настройки профиля</h4></div>
            <div class="panel-body">
                {% if is_test_account %}
                <p>Это демо-аккаунт, поэтому вы не можете изменять данные этой учетной записи.</p>
                {% else %}
                
                {% if saved %}
                <p>Изменения успешно сохранены</p>
                {%else%} 
                <p>Изменения не были сохранены</p>
                {% endif %}

                <form role="form" action="{% url 'main:my_profile' %}" method="post" id="my_profile_form" style="max-width:350px; margin:auto;">
                    {% csrf_token %}
                    <!-- TODO: Валидатор имени (допустимые символы и т.п.). Важно: поле МОЖЕТ быть пустым. -->
                    <div class="form-group">
                        <label for="first_name">Имя:</label>
                        <div id="field_first_name"><input type="text" class="form-control" name="first_name" id="first_name" maxlength="100" placeholder="{{ user.first_name }}"></input></div>
                        <div class="errors_field"></div>
                    </div>
                    
                    <!-- TODO: Валидатор фамилии (допустимые символы и т.п.). Важно: поле МОЖЕТ быть пустым. -->
                    <div class="form-group">
                        <label for="last_name">Фамилия:</label>
                        <div id="field_last_name"><input type="text" class="form-control" name="last_name" id="last_name" maxlength="100" placeholder="{{ user.last_name }}"></input></div>
                        <div class="errors_field"></div>
                    </div>
                    
                    {% if is_instructor %}
                    <!-- TODO: Валидатор отчества (допустимые символы и т.п.). Важно: поле МОЖЕТ быть пустым. -->
                    <div class="form-group">
                        <label for="middle_name">Отчество:</label>
                        <div id="field_middle_name"><input type="text" class="form-control" name="middle_name" id="middle_name" maxlength="100" placeholder="{{ user.inst_profile.middle_name }}"></input></div>
                        <div class="errors_field"></div>
                    </div>
                    {% endif %}
                    
                    <!--
                    <div class="form-group" id="email_field">Текущий адрес почты (пока не работает): {{user.email}} <br/> <input type="text" class="form-control" name="email" id="email" maxlength="50" placeholder="Новый адрес почты"></input></div>
                    <p><strong>Внимание!</strong>При изменении адреса почты вы должны будете подтвердить его.</p>
                    -->
                    
                    <!-- TODO: Валидатор паролей. Поля password1 и password2 должны совпадать -->
                    <div class="form-group">
                        <label for="password1">Пароль:</label>
                        <div id="field_password1"><input type="password" class="form-control instructor_form_element" name="password1" id="password1" maxlength="50" placeholder="Новый пароль"></div>
                        <div class="errors_field"></div>
                    </div>
                    <div class="form-group">
                        <div id="field_password2"><input type="password" class="form-control instructor_form_element" name="password2" id="password2" maxlength="50" placeholder="Повторите новый пароль"></div>
                        <div class="errors_field"></div>
                    </div>
                    <!-- 
                    Возмжно, позже добавим асинхронную проверку пароля
                    -->
                    <div class="form-group">
                        <label for="password_login">Введите пароль, чтобы сохранить изменения:</label>
                        <!--<p>(если вы меняли пароль, то для его сохранения нужно ввести ваш <strong>старый</strong> пароль)</p>-->
                        <div id="field_password_login"><input type="password" class="form-control" name="password" id="password_login" placeholder="Старый пароль" value="" maxlength="50" data-placement="right auto" title="Если вы меняли пароль, то для его сохранения нужно ввести ваш старый пароль."></div>
                        <div class="errors_field"></div>
                    </div>
                    <div class="btn-group" id="sbutton_wrapper"><button type="submit" class="btn btn-primary" id="submit" title="Сохранение изменений">Сохранить изменения</button></div>
                    <div class="errors_field"></div>
                </form><br>
                
                Для того, чтобы изменить какое-то поле, просто введите новое значение. Если же вы не хотите ничего менять, оставьте поле пустым.
                
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
</div>
{% endblock %}