{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Именные стипендии{% endblock %}

{% block scripts %}
<script>$('#open_student_rating_li').addClass('active');</script>
{% endblock %}

{% block content %}           
    <div class="panel panel-info ajax_panel">
        <div class="panel-heading">Текущее состояние рейтинга (Матрица компетенций студентов)</div>
        <div class="panel-body">
           <div id="student_rating_loadable_content">
            <div class="table-responsive">
                <table class="scoreboard-map">
                    <tr>
                        <td class="scm1">Президентская (места 1 - 3)</td>
                      <td class="scm2">Верховной рады (места 4 - 5)</td>
                      <td class="scm3">Масельського (место 6)</td>
                      <td class="scm4">Янгеля (места 7 - 10)</td>
                      <td class="scm5">Іванченко (места 11 - 14)</td>
                  </tr>
                  <tr>
                      <td class="scm6">Новікова (места 15 - 20)</td>
                      <td class="scm7">Свиридова (места 21 - 25)</td>
                      <td class="scm8">Бондаренко (места 26 - 27)</td>
                      <td class="scm9">Шакало (места 28 - 29)</td>
                  </tr>
                </table>
                * Наведите на название колонки, чтобы увидеть его полностью
                <table class="table scoreboard">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th title="Фамилия Имя Отчество">ФИО</th>
                            <th title="Факультет">Фак.</th>        
                            <th title="Кафедра">Каф.</th>
                            <th title="Группа">Гр.</th>
                            <th title="Средний балл">Ср.</th>
                            <th title="Иностранные языки (сертификаты)">Ин. яз</th>
                            <th title="Программные продукты; устройства и макеты, патенты на изобретения и полезные модели">Дост.</th>
                            <th title="Призеры конкурсов, олимпиад и выставок, подтвержденные дипломами">Пр.</th>
                            <th title="Журнальные статьи зарубежные">Ст. инт.</th>
                            <th title="Журнальные статьи национальные">Ст. нац.</th>
                            <th title="Доклады на конференциях и семинарах зарубежные">Док. зар.</th>
                            <th title="Доклады на конференциях и семинарах национальные">Док. нац.</th>
                            <th title="Спортивные и культурные мероприятия">Мер.</th>
                            <th title="Наукометрия в Scopus, WoS (20k),  k – количество публикаций.">Scop.</th>
                            <th title="Интегральная оценка">&Sigma;</th>
                            <th title="Кем добавлено">Доб.</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>        
                            <th></th>
                            <th></th>
                            <th>x1</th>
                            <th>x50</th>
                            <th>x20</th>
                            <th>x10</th>
                            <th>x20</th>
                            <th>x10</th>
                            <th>x15</th>
                            <th>x5</th>
                            <th>x5</th>
                            <th>x20</th>
                            <th>&Sigma;</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in students_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ el.last_name }}, {{ el.first_name }} {{ el.middle_name }}</td>
                            <td title="Факультет">{{ el.faculty_txt }} </td>        
                            <td title="Кафедра">{{ el.department_txt }}</td>
                            <td title="Группа">{{ el.group_txt }}</td>
                            <td title="Средний балл">{{ el.gpa }}</td>
                            <td title="Иностранные языки (сертификаты)">{{ el.english }}</td>
                            <td title="Программные продукты; устройства и макеты, патенты на изобретения и полезные модели">{{ el.patents}}</td>
                            <td title="Призеры конкурсов, олимпиад и выставок, подтвержденные дипломами">{{ el.competitions}}</td>
                            <td title="Журнальные статьи зарубежные">{{ el.articles_int }}</td>
                            <td title="Журнальные статьи национальные">{{ el.articles_nat }}</td>
                            <td title="Доклады на конференциях и семинарах зарубежные">{{ el.presentation_int}}</td>
                            <td title="Доклады на конференциях и семинарах национальные">{{ el.presentation_nat}}</td>
                            <td title="Спортивные и культурные мероприятия">{{ el.sport }}</td>
                            <td title="Наукометрия в Scopus, WoS (20k),  k – количество публикаций.">{{ el.scopus }}</td>
                            <td title="Интегральная оценка">{{ el.integral }}</td>
                            <td title="Кем добавлено">{{ el.added_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}