{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Регистрация{% endblock %}

{% block scripts %}
<script>$('#register_li').addClass('active');</script>
{% if registered %}
<script type="text/javascript" src='{% static "app/scripts/redirection_countdown.js" %}'></script>
<script>redirect_countdown(3, 'countdown_wrapper', "{% url 'main:login' %}", 'Вы будете перенаправлены на страницу входа в течении');</script>
{% endif %}
{% if not registered and not user.is_authenticated %}
<script type="text/javascript" src='{% static "app/scripts/jquery.maskedinput.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notify.min.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notification_handler.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/register.js" %}'></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    {% if not user.is_authenticated %}
    {% if not registered %}
    <div class="col-lg-4 col-sm-3 col-xs-0"></div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="well well-sm register_form hcenter">
            <div id="registration_form_div">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group"><button type="button" class="btn btn-default active" id="student_switch" onclick="hide_element('instructor_form'); show_element('student_form'); $('#student_switch').addClass('active'); $('#instructor_switch').removeClass('active');">Студент</button></div>
                    <div class="btn-group"><button type="button" class="btn btn-default" id="instructor_switch" onclick="hide_element('student_form'); show_element('instructor_form'); $('#instructor_switch').addClass('active'); $('#student_switch').removeClass('active');">Преподаватель</button></div>
                </div><p></p>
         
                <!-- Форма для регистрации студента -->
                <form role="form" id="student_form" method="post" action="{% url 'main:register_student'%}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="full_name_student">Представьтесь * :</label>
                    <div id="full_name_student">
                        <div class="form-group">
                            <div class="field_first_name" id="field_first_name_student" title="Это ваше настоящее имя">
                                <input type="text" class="form-control student_form_element" name="first_name" id="first_name_student" maxlength="30" placeholder="Имя"></input>
                            </div>
                            <div class="errors_field">
                                {% if user_form.first_name.errors %}
                                    {{ user_form.first_name.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field_last_name" id="field_last_name_student" title="Это ваша фамилия">
                                <input type="text" class="form-control student_form_element" name="last_name" id="last_name_student" maxlength="30" placeholder="Фамилия"></input>
                            </div>
                            <div class="errors_field">
                                {% if user_form.last_name.errors %}
                                    {{ user_form.last_name.errors }}
                                {% endif %}
                            </div>
                        </div>
                    </div>    
                    <label for="group">Выберите вашу группу * :</label>
                    <div class="form-group">
                        <div class="field_faculty_name" id="group">
                            <div class="falculty_name inline" data-toggle="tooltip" data-placement="auto bottom" title="Факультет">{{ student_form.faculty_name }}</div>
                            <div class="study_mode inline" data-toggle="tooltip" data-placement="auto bottom" title="Форма обучения">{{ student_form.study_mode }}</div>
                            <div class="year_started inline" data-toggle="tooltip" data-placement="auto bottom" title="Год">{{ student_form.year_started }}</div>
                            <div class="group_number inline" data-toggle="tooltip" data-placement="auto bottom" title="Группа">{{ student_form.group_number }}</div>
                        </div>
                        <div class="errors_field">
                            {% if student_form.faculty_name.errors %}						
                                {{ student_form.faculty_name.errors }}
                            {% endif %}
                            
                            {% if student_form.study_mode.errors %}
                                {{ student_form.study_mode.errors }}
                            {% endif %}
                            
                            {% if student_form.year_started.errors %}
                                {{ student_form.year_started.errors }}
                            {% endif %}
                            
                            {% if student_form.group_number.errors %}
                                {{ student_form.group_number.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="student_id">Укажите номер студенческого:</label>
                        <div class="field_student_id" id="field_student_id" title="Это номер вашего студенческого (Не обязателен)">
                            <input type="text" class="form-control student_form_element" name="student_id" id="student_id" maxlength="8" placeholder="ХА № ________" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 43 || event.charCode == 13)'></input>
                        </div>
                        <div class="errors_field">
                            {% if student_form.student_id.errors %}
                                {{ student_form.student_id.errors }}
                            {% endif %}
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <label for="username_student">Укажите ваш логин * :</label>
                        <div class="field_username" id="field_username_student" title="Имя вашего аккаунта латиницей (можно использовать почтовый адрес)">
                            <input type="text" class="form-control student_form_element" name="username" id="username_student" maxlength="30" placeholder="Username"></input>
                        </div>
                        <div class="errors_field">
                            {% if user_form.username.errors %}
                                {{ user_form.username.errors }}
                            {% endif %}
                        </div>
                    </div>                 
                    <div class="form-group">
                        <label for="email_student">Укажите ваш e-mail * :</label>
                        <div id="field_email_student" title="Ваш почтовый адрес">
                            <input type="text" class="form-control student_form_element" name="email" id="email_student" maxlength="50" placeholder="example@gmail.com"></input>
                        </div>
                        <div class="errors_field">
                            {% if user_form.email.errors %}
                                {{ user_form.email.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div id="password_group_student" title="Укажите пароль два раза">
                        <div class="form-group">
                            <label for="password_student">Укажите ваш пароль * :</label>	
                            <div class="field_password" id="field_password_student">
                                <input type="password" class="form-control student_form_element" name="password" id="password_student" maxlength="50" placeholder="Пароль"></input>
                            </div>
                            <div class="errors_field">
                                {% if user_form.password.errors %}
                                    {{ user_form.password.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="username">Введите пароль повторно:</label>
                            <div class="field_password_validator" id="field_password_validator_student">
                                <input type="password" class="form-control student_form_element" name="password_validator" id="password_validator_student" maxlength="50" placeholder="Повторите пароль"></input>
                            </div>
                            <div class="errors_field">
                                {% if user_form.captcha.errors %}
                                    {{ user_form.captcha.errors }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form_group">
                        <div class="btn-group submit_btn_wrapper" id="submit_btn_wrapper_student"><button type="submit" class="btn btn-primary" id="register_btn_student" title="Если вы заполнили все обязательные поля * корректно, регистрируйтесь!">Регистрация</button></div>
                        <div class="errors_field"></div>
                    </div>
                </form>                
                                        
                <!-- Форма для регистрации преподавателя -->
                <form role="form" id="instructor_form" method="post" action="{% url 'main:register_instructor' %}" enctype="multipart/form-data" hidden>  
                    {% csrf_token %}
                    <label for="full_name">Представьтесь * :</label>
                    <div id="full_name">
                        <div class="form-group">
                            <div class="field_last_name" id="field_last_name_instructor" title="Это ваша фамилия">
                                <input type="text" class="form-control instructor_form_element" name="last_name" id="last_name_instructor" maxlength="30" placeholder="Фамилия">
                            </div>
                            <div class="errors_field">
                                {% if user_form.last_name.errors %}
                                    {{ user_form.last_name.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="field_first_name" id="field_first_name_instructor" title="Это ваше настоящее имя">
                                <input type="text" class="form-control instructor_form_element" name="first_name" id="first_name_instructor" maxlength="30" placeholder="Имя">
                            </div>
                            <div class="errors_field">
                                {% if user_form.first_name.errors %}
                                    {{ user_form.first_name.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field_middle_name" id="field_middle_name_instructor" title="Ваше отчество (Не обязательно)">
                                <input type="text" class="form-control instructor_form_element" name="middle_name" id="middle_name_instructor" maxlength="20" placeholder="Отчество (не обязательно)">
                            </div>
                            <div class="errors_field">
                                {% if instructor_form.middle_name.errors %}
                                    {{ instructor_form.middle_name.errors }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <!--
                    <div class="form-group">
                        <label for="phone_number">Введите номер моб. телефона:</label>
                        <div class="field_phone_number" id="field_phone_number" title="Номер вашего мобильного (Не обязателен)">
                            <input type="text" class="form-control instructor_form_element" name="phone_number" id="phone_number" maxlength="13" placeholder="+380 (__) ___ __ __" onkeypress = 'return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 43 || event.charCode == 13)'>
                        </div>
                        <div class="errors_field">
                            {% if instructor_form.phone_number.errors %}
                                {{ instructor_form.phone_number.errors }}
                            {% endif %}
                        </div>
                    </div>
                    -->
                    
                    <div class="form-group">
                        <label for="username">Введите логин пользователя * :</label>	
                        <div class="field_username" id="field_username_instructor" title="Это имя вашего аккаунта латиницей. Допустим адрес электронной почты">
                            <input type="text" class="form-control instructor_form_element" name="username" id="username_instructor" maxlength="30" placeholder="Username">
                        </div>
                        <div class="errors_field">
                            {% if user_form.username.errors %}
                                {{ user_form.username.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="email">Укажите ваш e-mail * :</label>
                        <div class="field_email" id="field_email_instructor" title="Адрес вашей электронной почты">
                            <input type="text" class="form-control instructor_form_element" name="email" id="email_instructor" maxlength="50" placeholder="example@gmail.com">
                        </div>
                        <div class="errors_field">
                            {% if user_form.email.errors %}
                                {{ user_form.email.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" title="Укажите пароль два раза">
                        <label for="password">Укажите ваш пароль * :</label>	
                        <div class="field_password" id="field_password_instructor">
                            <input type="password" class="form-control instructor_form_element" name="password" id="password_instructor" maxlength="50" placeholder="Пароль">
                        </div>
                        <div class="errors_field">
                            {% if user_form.password.errors %}
                                {{ user_form.password.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field_password_validator" id="field_password_validator_instructor">
                            <input type="password" class="form-control instructor_form_element" name="password_validator" id="password_validator_instructor" maxlength="50" placeholder="Повторите пароль">
                        </div>
                        <div class="errors_field"></div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group submit_btn_wrapper" id="submit_btn_wrapper_instructor"><button type="submit" class="btn btn-primary" id="register_btn_instructor" title="Если все необходимые * поля заполнены правильно, завершаем регистрацию">Регистрация</button></div>
                        <div class="errors_field"></div>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center">Поля, обязательные для заполнения обозначены символом *</p>
    </div>
    <div class="col-lg-4 col-sm-3 col-xs-0"></div>
    {% else %}
    <div class="col-lg-4 col-sm-3 col-xs-0"></div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4><span class="glyphicon glyphicon-envelope inline-glyphicon"></span>Регистрация успешна!</h4></div>
            <div class="panel-body">
                <p>Письмо об активации отправленно на указанный email.<br/>
                Нажмите <a href="{% url 'main:login' %}">здесь</a> для быстрого входа в аккаунт.<br/></p>
                <div id="countdown_wrapper"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-3 col-xs-0"></div>
    {% endif %}
    {% else %}
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Ваш аккаунт уже существует. Нет необходимости регестрироваться ещё раз.</h4></div>
            <div class="panel-body">
                <p>Вы можете <a href="{% url 'main:my' %}">перейти в личный кабинет</a> или же <a href="{% url 'main:logout' %}">выйти из аккаунта</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    {% endif %}
</div>
{% endblock %}