{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Student Rating{% endblock %}
 
{% block scripts %}
<script>
var student_rating_url = "{% url 'main:student_rating' %}";
</script>
<script type="text/javascript" src='{% static "app/scripts/ajax_core.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/student_rating.js" %}'></script>
{% endblock %}

{% block content %}
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="panel panel-info survey_panel">
        <div class="panel-heading">Student Rating</div>
    	<div class="panel-body">
			<div id="student_rating_panel_content">
			<!--
				<h2>Прием заявок закрыт. </h2>
				<h4>Редактирование также недоступно, поэтому если исправление действительно необходимо, <a style="color:#3366BB;" target = "_blank" href="/contact_admin/">обратитесь к администратору сайта.</a></h4>
				-->
				{% if edit %}             
				<div class="btn-group"><button type="submit" class="btn btn-primary" title="Отправка данных" onclick="fill_in_form();">Заполнить заявку на конкурс</button></div>
				{% endif %}
				<br />
				<br />
				<div> 
					<p id ="tabletitle" style="text-align: center;background-color:gray;color:white;padding-top:10px;padding-bottom:10px">Матрица компетенций студентов (нажмите, чтобы скрыть/открыть) </p> 
				</div>
				<div id="student_rating_loadable_content">
					<div class="table-responsive">
					<!--
						<table class="scoreboard-map">
							<tr>
								<td class="scm1">Президентская (места 1 - 3)</td>
								<td class="scm2">Верховной рады (места 4 - 5)</td>
								<td class="scm3">Масельського (место 6)</td>
								<td class="scm4">Янгеля (места 7 - 10)</td>
								<td class="scm5">Іванченко (места 11 - 14)</td>
							</tr>
							<tr>
								<td class="scm6">Новікова (места 15 - 20)</td>
								<td class="scm7">Свиридова (места 21 - 25)</td>
								<td class="scm8">Бондаренко (места 26 - 27)</td>
								<td class="scm9">Шакало (места 28 - 29)</td>
							</tr>
						</table>
						-->
						* Наведите на название колонки, чтобы увидеть его полностью
						<table class="table scoreboard" style="font-size: 12px;">
							<thead>
								<tr>
									<th>№</th>
									<th title="Фамилия Имя Отчество">ФИО</th>
									<th title="Факультет">Фак.</th>        
									<th title="Кафедра">Каф.</th>
									<th title="Группа">Гр.</th>
									<th title="Средний балл">Ср.</th>
									<!--<th title="Иностранные языки (сертификаты)">Ин. яз</th>-->
									<th title="Программные продукты; устройства и макеты, патенты на изобретения и полезные модели">Дост.</th>
									<th title="Призеры конкурсов, олимпиад и выставок, подтвержденные дипломами">Пр.</th>
									<th title="Журнальные статьи зарубежные">Ст. инт.</th>
									<th title="Журнальные статьи национальные">Ст. нац.</th>
									<th title="Доклады на конференциях и семинарах зарубежные">Док. зар.</th>
									<th title="Доклады на конференциях и семинарах национальные">Док. нац.</th>
									<th title="Спортивные и культурные мероприятия">Мер.</th>
									<th title="Наукометрия в Scopus, WoS (20k),  k – количество публикаций.">Scop.</th>
									<th title="Интегральная оценка">&Sigma;</th>
									<th title="Кем добавлено">Доб.</th>
									
										<th title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></th>
										<th title="Удалить"><span class="glyphicon glyphicon-remove"></span></th>
									
								</tr>
							</thead>
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>        
									<th></th>
									<th></th>
									<th>x1</th>
									<!--<th>x50</th>-->
									<th>x20</th>
									<th>x10</th>
									<th>x20</th>
									<th>x10</th>
									<th>x15</th>
									<th>x5</th>
									<th>x5</th>
									<th>x20</th>
									<th>&Sigma;</th>
									<th></th>
									<!--
									<th></th>
									<th></th>
									-->
								</tr>
							</thead>
							<tbody>
								{% for el in students_data %}
								<tr>
									<td> {{ forloop.counter }} </td>
									<td title="ФИО студента">{{ el.last_name }}, {{ el.first_name }} {{ el.middle_name }}</td>
									<td title="Факультет">{{ el.faculty_txt }} </td>        
									<td title="Кафедра">{{ el.department_txt }}</td>
									<td title="Группа">{{ el.group_txt }}</td>
									<td title="Средний балл">{{ el.gpa }}</td>
									<!--<td title="Иностранные языки (сертификаты)">{{ el.english }}</td>-->
									<td title="Программные продукты; устройства и макеты, патенты на изобретения и полезные модели">{{ el.patents}}</td>
									<td title="Призеры конкурсов, олимпиад и выставок, подтвержденные дипломами">{{ el.competitions}}</td>
									<td title="Журнальные статьи зарубежные">{{ el.articles_int }}</td>
									<td title="Журнальные статьи национальные">{{ el.articles_nat }}</td>
									<td title="Доклады на конференциях и семинарах зарубежные">{{ el.presentation_int}}</td>
									<td title="Доклады на конференциях и семинарах национальные">{{ el.presentation_nat}}</td>
									<td title="Спортивные и культурные мероприятия">{{ el.sport }}</td>
									<td title="Наукометрия в Scopus, WoS (20k),  k – количество публикаций">{{ el.scopus }}</td>
									<td title="Интегральная оценка">{{ el.integral }}</td>
									<td title="Кем добавлено">{{ el.added_by }}</td>
									
									<td title="Редактировать">
										{% if el.added_by == user.inst_profile %}
										<a class="edit_link" href="{% url 'main:edit_student_rating' el.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
										{% else %}
										<span class="glyphicon glyphicon-pencil" style="color:lightgray;"></span>
										{% endif %}
									</td>
									<td title="Удалить">
										{% if el.added_by == user.inst_profile %}
										<a class="edit_link" href="{% url 'main:delete_student_rating' el.id %}"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></a>
										{% else %}
										<span class="glyphicon glyphicon-remove" style="color:lightgray;"></span>
										{% endif %}
									</td>
									
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			
				
				<div> 
					<p id="application" style="text-align: center;background-color:gray;color:white;padding-top:10px;padding-bottom:10px">Заявление на участие в конкурсе (нажмите, чтобы скрыть/открыть)</p>
				</div>
				
				{% if not edit %}
				<form role="form" action="{% url 'main:student_rating' %}" method="post" id="student_rating_form">
				{% else %}
				<form role="form" action="{% url 'main:edit_student_rating' elid %}" method="post" id="student_rating_form">
				{% endif %}
					{% csrf_token %}
					{{ grant_form }}
					<br />
					<div class="btn-group" id="sbutton_wrapper">
						<button type="submit" class="btn btn-primary" id="submit" title="Отправка данных">Сохранить</button>                  
					</div>
				</form>
				
 <!--
				{% if edit %}             
				<form role="form" action="{% url 'main:edit_student_rating' elid %}" method="post" id="student_rating_form">
					{% csrf_token %}
					{{ grant_form }}
					<br />
					<div class="btn-group" id="sbutton_wrapper">
						<button type="submit" class="btn btn-primary" id="submit" title="Отправка данных">Сохранить</button>                  
					</div>
				</form>
				{% endif %}
				-->
			</div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
{% endblock %}

<!--
	#Журнлаьные статье национальные (10k);
	articles_nat = models.PositiveSmallIntegerField()
	# Доклады на конференциях и семинарах зарубежные (15k); 
	presentation_int = models.PositiveSmallIntegerField()
	#национальные (5k);
	presentation_nat = models.PositiveSmallIntegerField()
	# Спортивные и культурные мероприятия (5k)
	sport = models.PositiveSmallIntegerField()
	# Наукометрия в Scopus, WoS (20k),  k – количество публикаций.
	scopus = models.PositiveSmallIntegerField()
	# Интегральная оценка
-->