{% extends "base_my.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Личный кабинет{% endblock %}

{% block scripts %}
<script>$('#my_li').addClass('active');</script>
<script type="text/javascript" src='{% static "app/scripts/get_cookie.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/csrf.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notify.min.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/notification_handler.js" %}'></script>
<script>
    var eval_script_url = '{% static "app/scripts/pages/evaluation.js" %}';
    var survey_script = '{% static "app/scripts/pages/survey.js" %}';
</script>
<script type="text/javascript" src='{% static "app/scripts/ajax_core.js" %}'></script>
<script type="text/javascript" src='{% static "app/scripts/pages/my/student.js" %}'></script>
{% endblock %}

{% block sidebar %}

{% if user.st_profile.group %}
<nav>
<ul class="nav custom-sidebar">
<!--
    <li><a href="#" id="last_lectures_btn" class="custom-collapse" data-toggle="collapse" data-target="#last_lectures_submenu" aria-expanded="false" onclick="return false;">Последние занятия</a>
        <ul class="nav collapse" id="last_lectures_submenu" role="menu" aria-labelledby="last_lectures_btn">
            {% for gtsildate in gtsils %}
            <li>
                <a href="#collapse_{{ forloop.counter }}" id="recent_los_{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" aria-expanded="false" onclick="return false;">
                {{ gtsildate.first.lecture_start_time.day }}.{{ gtsildate.first.lecture_start_time.month }}.{{ gtsildate.first.lecture_start_time.year }}
                </a>
                <ul class="nav collapse" id="collapse_{{ forloop.counter }}" role="menu" aria-labelledby="recent_los_{{ forloop.counter }}">
                    {% for gtsil in gtsildate %}
                    <li><a class="tab_navigation_link" href="{% url 'main:lecture' gtsil.id %}">{{ gtsil.gtsi.gts.subject.short_name }}, {{ gtsil.gtsi.instructor.last_name }}, {{ gtsil.gtsi.activity_type.short_name }}</a></li>
                    {% endfor %} 
                </ul>
            </li>
            {% empty %}
            <li><p>За последние 10 дней у вас не было ни одной лекции. Если лекции были, а вы все равно их не видите, попробуйте зайти позже.</p></li>
            {% endfor %}
        </ul>
        -->
    </li>
    <li><a href="{% url 'main:student_rating' %}" onclick="show_subjects_list(); return false;">Список предметов</a></li>
    <li><a href="{% url 'main:student_rating' %}" onclick="show_surveys(); return false;">Тестирование</a></li>
</ul>
</nav>
{% endif %}
{% endblock %}

{% block inform_block %}
{% if user.st_profile.group %}
<div class="panel panel-info" id="info_panel">
    <div class="panel-heading">Объявления</div>
    <div class="panel-body">
        {% for an in announcements %}
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">
                    <a data-toggle="collapse" href="#collapse_news_{{ forloop.counter }}">{{ an.title }}</a>
                </div></div>
                <div id="collapse_news_{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ an.text}}
                        {% if an.author %}
                        <div class="text-right"><small><i>Добавлено: {{an.author}}</i></small></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block main_block %}
<div class="panel panel-info">
    <div class="panel-heading text-center">Сегодня: {% now "d.m.Y" %}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <h3>{{user.first_name}} {{user.last_name}}, 
                <small>{{ user.profile_type.name }}</small></h3>
                <p>{{user.email}}</p>
            </div>
            <div class="col-lg-4">
                {% if user.st_profile.group %}
                <p>Группа: {{ user.st_profile.group }}</p>
                {% if not user.status_confirmed and codeConfirmForm %}
                <div id="form_send_result"></div>
                <form class="form-inline" role="form" id="confcode_form" action="{% url 'main:confirm_status' %}" method="post">
                    {% csrf_token %}
                    <label for="code">Ввести <a href="/faq/#q8">код подтверждения(?)</a>:</label>
                    <div class="form-group">
                        <input type="text" class="form_field" maxlength="5" name="code" id="code" placeholder='Код подтверждения'>
                        <div class="inline" id="confirm_code_field">
                            <input class="btn btn-primary" type="submit" value="Подтвердить">
                        </div>
                        <div class="errors_field"></div>
                    </div>  
                </form>
                {% else %}
                    <p>Статус подтвержден</p>
                    <p>Текущий семестр: {{ term }}</p>
                {% endif %}
                {% else %}
                <p>Привяжите группу и введите код подтверждения:</p>
                <form role="form" id="attach_group_form" action="{% url 'main:attach_group' %}" method="post">
                    {% csrf_token %}
                    {{ chooseGroupForm }}
                    <input class="btn btn-primary" type="submit" value="Привязать"/>
                </form>
                {% endif %}
                <!--
                <a href="{% url 'main:refresh_schedule' %}" class="btn btn-primary">Обновить списки!</a>
                <details>
                <summary>Прочитайте перед тем, как нажать!</summary>
                    <p> По нажатию этой кнопке, Feedbacker обратится к CIST. Выполнение запроса может занять какое-то время, так что просто подождите.</p>
                    <p>Обновлять стоит только в том случае, если вы слева не видите своих пар за последние три учебных дня.</p>
                </details>
                -->
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block display_block %}
{% if not user.status_confirmed %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Внимание!</strong> Вы не можете голосовать, поскольку не подтвердили, что вы относитесь к указанной вами учебной группе. Пожалуйста, введите код подтверждения <a href="/faq/#q8">(?)</a>.
</div>
{% endif %}
{% if user.st_profile.group %}
<div class="panel panel-info" id="subjects_list" hidden>
    <div class="panel-heading">Список предметов</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {% for gtsi in gtsis %}
            <li><a class="tab_navigation_link" href="{% url 'main:subject' gtsi.id %}">{{ gtsi.gts.subject.full_name }}, {{ gtsi.activity_type.short_name }}, {{ gtsi.instructor.last_name }} {{ gtsi.instructor.first_name }} {{ gtsi.instructor.middle_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="tab_navigation_container">
    <div class="panel panel-info">
        <div class="panel-heading">Выберите предмет на вкладке "Список предметов", чтобы оценить его</div>
    </div>
</div>
{% endif %}
<div class="panel panel-info" id="surveys_panel" hidden>
    <div class="panel-heading">Тесты для группы {{group}}</div>
    <div class="panel-body">
        {% if surveys %}
        <ul class="nav nav-pills nav-stacked">
            {% for survey in surveys %}
            <li><a class="survey_link" href="{% url 'main:survey' survey.als_id %}" onclick="load_survey_content(this); return false;">{{ survey.survey_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Извините, но для вашей группы опросов ещё не завезли. Радуйтесь, пока ещё можете!</p>
        {% endif %}
    </div>
</div>
{% endblock %}