{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Результаты тестирования{% endblock %}
 
{% block content %}
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="panel panel-info ajax_panel">
        <div class="panel-heading">Результаты тестирования, группа {{ group }}</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Студент</th>
                <th>Результат</th>        
              </tr>
            </thead>
          <tbody>
          {% for result in results %}
            <tr>
              <td>{{ result.student }}</td>
              <td>{{ result.res }} </td>        
            </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2 col-xs-0"></div>
{% endblock %}
