{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Туториалы{% endblock %}

{% block scripts %}
<script>$('#help_li').addClass('active');</script>
{% endblock %}

{% block content %}           
<div class="row">
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    <div class="col-lg-6 col-sm-8 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Туториал</h4></div>
            <div class="panel-body">
                <h3>Для студента</h3>
                <h4>Регистрация</h4>
                <p>
                Первое, что нужно сделать, чтобы начать пользоваться системой, - зарегистрироваться. Регистрация в целом стандратная - такая же, как на большинстве других сайтов. Данные, которые вы вводите, <strong>НЕ</strong> отображаются в личном кабинете преподавателя, они видны только администратору. 
                </p>
                <p>
                Регистрироваться желательно с почтой <strong>nure.ua</strong>, так как это автоматически подтвердит ваш статус. Если же по какой-то причине вы не хотите использовать эту почту, то используйте любую, но тогда вам придется получать код подтверждения (на данный момент проще всего спросить его у преподавателя - если он преподает в вашей группе хотя бы один предмет, то в его Личном Кабинете есть код подтверждения для вашей группы). 
                </p>
                <p>
                После отправки регистрационных данных вам будет отправлено письмо для подтверждения адреса электронной почты. В среднем письмо приходит в течение 5 минут. 
                </p>
                <p>
                <strong>ВАЖНО:</strong> Если вы иностранец, то в качестве постфикса выбирайте "и", а не "i". Мы тоже очень удивились, но в базе данных университета почему-то группы иностранцев записаны именно так. 
                </p>
                <h4>Вход в личный кабинет</h4>
                <p>
                Итак, вы успешно зарегистрировались и подтвердили свой статус (либо он подтвердился автоматически). Теперь зайдите в свой личный кабинет. 
                Иногда при первом заходе вам, возможно, потребуется подождать какое-то время. Это случается, если для вашей группы необходимо сделать обновление. При повторном заходе такого уже не будет. 
                </p>
                <h4>Голосование</h4>
                <p>            
                Слева в меню отображаются все ваши занятия за последние три учебных дня. Вряд ли вы хорошо помните пару, которая была неделю назад. Поэтому у вас есть всего три учебных (!) дня, чтобы оценить лекцию. Учебный день - это день, когда у вас были пары. То есть выходные игнорируются. 
                </p>
                <p>
                Чтобы проголосовать, просто выберите занятие, которое вы хотите оценить. Если по нажатию ничего не происходит и средний блок пуст, то, возможно, у вас отключен Java Script. Сначала попробуйте перегрузить страницу, а затем проверьте, что он таки у вас включен. 
                </p>
                <p>
                По умолчанию, в среднем блоке отображается вкладка "Оценка лекции". Именно она вам и нужна. Оцените прошедшее занятие по предложенным критериям, выбрав соответствующие радиобаттоны. Шкала оценки приведена в начале блока. Кроме того, вы можете увидеть подсказу по наведении на радиобаттон. После того, как вы поставили оценки, не забудьте <strong>НАЖАТЬ КНОПКУ "ОЦЕНИТЬ"</strong>. Ваши отзывы <strong>АНОНИМНЫ</strong>. Если вам интересно, как именно преподаватель увидит результаты, зайдти в демо-аккаунт (логин: demo, пароль: demo).
                </p>
                <p>
                Если вы не были на лекции, то поставьте галочку в соответствующем поле. <strong>ВАЖНО:</strong> Эти данные НЕ используются для учета посещаемости. Преподавателю НЕ преподставляется статистика о том, кто был, а кто не был на паре. Это нужно для того, чтобы по нажатии на занятие, вам не предлагали снова и снова оценивать его. То есть можете просто не заходить в ту лекцию, на которой не были. 
                </p>
                <h4>Тесты к лекции (в разработке)</h4>
                <p>
                Когда лекция выбрана, то в среднем блоке отображаются две вкладки. Первая - для голосования, и работа с ней уже описана выше. Вторая - "Тесты и опросы к лекциям". Рекомендуем каждый раз проверять эту вкладку - преподаватель мог выложить тест, например, к лабе. При прохождении теста у вас будет всего она попытка. Более того, вы сразу не увидите, какие ответы были правильными, а какие - нет. Так что будьте очень внимательны. <strong>ВАЖНО:</strong> Преподаватель может видеть результаты прохождения вами тестов. Ему предоставляются следующие данные: "Имя, Фамилия, Группа, Результат". Это единственный случай, когда ваши ФИО будут видны преподавателю. 
                </p>
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-0"></div>
</div>                
{% endblock %}