{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-2 col-lg-push-10 col-sm-3 col-sm-push-9">
        <div class="inform_block">
            {% block inform_block %}{% endblock %}
		</div>
    </div>
    <div class="col-lg-2 col-lg-pull-2 col-sm-3 col-sm-pull-3">
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
    <div class="col-lg-8 col-lg-pull-2 col-sm-6 col-sm-pull-3">
        <div class="row">
            <div class="main_block">
                {% block main_block %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="rate_block">
                {% block display_block %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}