<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="image/png" rel="shortcut icon" type="image/png" href="{% static 'app\images\icon\favicon.png' %}"/>
        <link type="image/png" rel="icon" href="{% static 'app\images\icon\touch-icon-120.png' %}">
        <link type="image/png" rel="apple-touch-icon" sizes="76x76" href="{% static 'app\images\icon\touch-icon-76.png' %}">
        <link type="image/png" rel="apple-touch-icon" sizes="120x120" href="{% static 'app\images\icon\touch-icon-120.png' %}">
        <link type="image/png" rel="apple-touch-icon" sizes="152x152" href="{% static 'app\images\icon\touch-icon-152.png' %}">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header id="page_header" class="page_header">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div id="navbar_header" class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_main">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'main:index' %}">Feedbacker</a>
                    </div>
                    <div id="navbar_main" class="collapse navbar-collapse">
                        <ul id="navbar_main_left" class="nav navbar-nav">
                            {% if user.is_authenticated %}
                            <li id="my_li"><a href="{% url 'main:my' %}">Мой кабинет</a></li>
                            {% endif %}
                            <li id="open_student_rating_li"><a href="{% url 'main:open_student_rating' %}">Именные стипендии</a></li>
                            <li id="help_li" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Помощь
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="tutorials_li"><a href="{% url 'main:tutorials' %}">Туториалы</a></li>
                                    <li id="faq_li"><a href="{% url 'main:faq' %}">FAQ</a></li>
                                    <li id="contact_admin_li"><a href="{% url 'main:contact_admin' %}">Написать администратору</a></li>
                                </ul>
                            </li>
                            <li id="about_us_li" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">О Нас
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="about_team_li"><a href="{% url 'main:about_us' %}">О команде</a></li>
                                    <li id="contacts_li"><a href="{% url 'main:contact_admin' %}">Контакты</a></li>
                                    <li id="dev_blog_li"><a href="{% url 'blog:blog' %}">Блог разработчиков</a></li>
                                </ul>
                            </li>
                            {% block navbar %}{% endblock %}
                        </ul>
                        <ul id="navbar_main_right" class="nav navbar-nav navbar-right">
                            {% block navbar_right %}{% endblock %}
                            {% if not user.is_authenticated %}
                            <li id="register_li"><a href="{% url 'main:register' %}"><span class="navbar-glyphicon glyphicon glyphicon-check"></span>Регистрация</a></li>
                            <li id="login_li"><a href="{% url 'main:login' %}"><span class="navbar-glyphicon glyphicon glyphicon-log-in"></span>Вход</a></li>
                            {% else %}
                            <li id="user_li" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user navbar-glyphicon"></span>{{user.first_name}}
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="my_profile_li"><a href="{% url 'main:my_profile' %}">Мой профиль</a></li>
                                </ul>
                            </li>
                            <li id="logout_li"><a href="{% url 'main:logout' %}"><span class="navbar-glyphicon glyphicon glyphicon-log-out"></span>Выход</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="page_wrapper" class="page_wrapper container-fluid">
            <aside>
                <div class="alert alert-danger" hidden>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong class="alert-title">Внимание!</strong>Вы используете <b><i>устаревший браузер</b></i>, что может скажеться на опыте использования сервиса. Рекомендуем вам использовать что-то поновее.
                </div>
                {% if show_db_warning %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong class="alert-title">Внимание!</strong> В данный момент ведутся работы на сайте. В связи с этим некоторые данные могут быть потеряны, результаты голосования могут быть не сохранены, поэтому лучше зайдите попозже.
                </div>
                {% endif %}
                <noscript>
                    <div class="alert alert-danger">
                        <strong class="alert-title">Внимание!</strong>Для корректной работы необходимы <i><b>Cookies</b></i> и <i><b>JavaScript</b></i>!
                    </div>
                </noscript>
                <div id="cookies_div" hidden>
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong class="alert-title">Внимание!</strong>Для корректной работы необходимы <i><b>Cookies</b></i>!
                    </div>
                </div>
            </aside>
            <main class="page_content">
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer id="page_footer" class="page_footer text-center">
            <span>Copyright 2015-2016, LogovoLogiki.</span>
            <a href="{% url 'main:about_us' %}">О Нас</a>
            <span>Made in NURE. Made in Ukraine.</span>
        </footer>
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>-->
        <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
        <script type="text/javascript" src='{% static "app/scripts/jquery.min.js" %}'></script>
        <script type="text/javascript" src='{% static "app/scripts/bootstrap.min.js" %}'></script>
        <script type="text/javascript" src='{% static "app/scripts/showhide_div.js" %}'></script>
        <script type="text/javascript" src='{% static "app/scripts/pages/base.js" %}'></script>
        {% block scripts %}{% endblock %}
    </body>
</html>